<div id="nuovoPagamento">
  <p>Home / Pagamento / <strong>Nuovo pagamento</strong></p>
  <p class="title page-title">Nuovo pagamento</p>

  <!--Sezione beneficiario-->
  <div class="page-section">
    <app-compila-nuovo-pagamento></app-compila-nuovo-pagamento>
  </div>

  <div [ngClass]="{'hide': !isCompilato}">
    <hr/>

    <p class="title page-subtitle">Dati</p>

    <!--Sezione dati-->
    <div class="page-section">
    </div>

    <hr/>

    <p class="title page-subtitle">Importi</p>

    <!--Sezione importi-->
    <div class="page-section">
    </div>
  </div>
</div>
