<div id="nuovoPagamento">
  <p>Home / Pagamento / <strong>Nuovo pagamento</strong></p>
  <p class="title page-title">Nuovo pagamento</p>

  <app-compila-nuovo-pagamento></app-compila-nuovo-pagamento>

  <div [ngClass]="{'hide': !isCompilato}">
    <app-dati-nuovo-pagamento></app-dati-nuovo-pagamento>
  </div>

  <div class="page-section">
    <div class="row">
      <div class="offset-md-8 col-md-4">
        <div class="form-elem-container">
          <div class="row">
            <label for="importoTotale" class="title">
              Importo totale
            </label>
          </div>
          <div class="row">
            <input
              class="price-input"
              id="importoTotale"
              [(ngModel)]="importoTotale"
              type="number"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
