#nuovoPagamento {
  margin-left: 5%;
  margin-right: 5%;
}

.page-section {
  margin: 3%;
}

.form-elem-container {
  margin-left: 5%;
  margin-right: 5%;
}

select {
  width: 100%;
}

@media screen and (max-width: 576px) {
  #nuovoPagamento {
    margin-left: 2%;
    margin-right: 2%;
  }
}
