<div id="nuovoPagamento">
  <p>Home / Pagamento / <strong>Nuovo pagamento</strong></p>
  <p class="title page-title">Nuovo pagamento</p>

  <app-compila-nuovo-pagamento></app-compila-nuovo-pagamento>

<!--  <div [ngClass]="{'hide': !isCompilato}">-->
  <div [ngClass]="{'hide': false}">
    <app-dati-nuovo-pagamento></app-dati-nuovo-pagamento>
  </div>

  <div class="page-section">
    <div class="row">
      <div class="offset-md-8 col-md-4">
        <div class="form-elem-container">
          <div class="row">
            <label for="importoTotale" class="title">
              Importo totale
            </label>
          </div>
          <div class="row">
            <input
              class="price-input"
              id="importoTotale"
              [(ngModel)]="importoTotale"
              type="number"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [ngClass]="{'hide': !isCompilato}">
    <hr/>
    <div *ngIf="!isFaseVerificaPagamento" class="row">
      <div class="col-6">
        <button id="bottonePulisci" class="btn btn-secondary" (click)="pulisciValoriSezioneDati()">Pulisci</button>
      </div>
      <div class="col-6 text-right">
        <button id="bottoneProcedi" class="btn" (click)="procediAVerificaPagamento()">Procedi</button>
      </div>
    </div>
    <div *ngIf="isFaseVerificaPagamento" class="row">
      <div class="col-xl-6 col-lg-6 col-md-5">
        <button id="bottoneIndietro" class="btn btn-secondary">Indietro</button>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-7 col-xs-2 text-right">
        <button id="bottoneSalvaPerDopo" class="btn btn-secondary">Salva per dopo</button>
        <button id="bottoneAggiungiAlCarrello" class="btn btn-secondary">Aggiungi al carrello</button>
        <button id="bottonePagaOra" class="btn">Paga ora</button>
      </div>
    </div>
  </div>
</div>
