<div class="ml-3">
  <form #datiPermessoForm="ngForm">
    <div class="row mt-2 mb-0">
      <div class="col text-right cursor-pointer" [id]="indexSezionePermesso" (click)="onClickDeleteIcon($event)">
        <svg fill='#004987' class="bg-light icon">
          <use xlink:href="assets/img/sprite.svg#it-delete"></use>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 pb-2">
        <div class="row">
          <div class="col">
            <label for="selectSocieta" class="title">Società</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <select [ngClass]="{'text-disabled': !listaSocieta.length}" id="selectSocieta" name="societaId"
                    #societaInput = "ngModel" [(ngModel)]="datiPermesso.societaId" (ngModelChange)="onChangeModel(societaInput)">
              <option *ngFor="let item of listaSocieta" [ngValue]="item.value">{{item.label}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p [ngClass]="{'text-muted': !isCampoInvalido(societaInput), 'text-invalid': isCampoInvalido(societaInput), 'text-disabled': !listaSocieta.length}">
              {{setPlaceholder(societaInput, 'select')}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 pb-2">
        <div class="row">
          <div class="col">
            <label for="selectEnte" [ngClass]="{'title': true, 'required': true}">Ente</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <select [ngClass]="{'input-disabled': !listaEnti.length}"
                    id="selectEnte" name="enteId" [required]="datiPermesso.enteId === undefined"
                    #enteInput = "ngModel" [(ngModel)]="datiPermesso.enteId" (ngModelChange)="onChangeModel(enteInput)">
              <option [ngValue]="undefined" [selected]="true">Seleziona</option>
              <option *ngFor="let item of listaEnti" [ngValue]="item.value">{{item.label}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p [ngClass]="{'text-muted': !isCampoInvalido(enteInput), 'text-invalid': isCampoInvalido(enteInput), 'text-disabled': !listaEnti.length}">
              {{setPlaceholder(enteInput, 'select')}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 pb-2">
        <div class="row">
          <div class="col">
            <label for="selectServizio" [ngClass]="{'title': true, 'text-muted': datiPermesso.enteId == null, 'required': datiPermesso.enteId != null}">
              Servizio
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <select [ngClass]="{'input-disabled': datiPermesso.enteId == null}"
                    id="selectServizio" name="servizioId" required
                    #servizioInput = "ngModel" [(ngModel)]="datiPermesso.servizioId" (ngModelChange)="onChangeModel(servizioInput)">
              <option [ngValue]="null" [selected]="true" *ngIf="datiPermesso.enteId != null">Seleziona</option>
              <option *ngFor="let item of listaServizi" [ngValue]="item.value">{{item.label}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div *ngIf="listaServizi.length > 0" class="col">
            <p [ngClass]="{'text-muted': !isCampoInvalido(servizioInput), 'text-invalid': isCampoInvalido(servizioInput), 'text-disabled': !isSelectValida(datiPermesso.enteId, listaEnti)}">
              {{setPlaceholder(servizioInput, 'select')}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 pb-2">
        <div class="row">
          <div class="col">
            <label for="attivazione" class="title">Attivazione</label>
          </div>
        </div>
        <div class="row">
          <div class="col calendar-wrapper">
            <svg class="bg-light icon img-calendar" (click)="openDatepicker(datePickerAttivazione)">
              <use xlink:href="assets/img/sprite.svg#it-calendar"></use>
            </svg>
            <dp-date-picker
              mode="day"
              id="attivazione"
              theme="dp-material"
              [config]="{
              locale: 'it',
              format: 'DD/MM/YYYY',
              firstDayOfWeek: 'mo',
              showGoToCurrent: false,
              openOnClick: isCalendarOpen,
              openOnFocus: false,
              min: minDateDDMMYYYY,
              max: setMaxDate(datePickerScadenza),
              returnedValueType: tipoData
            }"
              #attivazioneInput = "ngModel"
              [(ngModel)]="datiPermesso.dataInizioValidita"
              name="attivazione"
              #datePickerAttivazione
              (click)="isCalendarOpen = false"
              (ngModelChange)="onChangeModel(attivazioneInput)"
            ></dp-date-picker>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p [ngClass]="{'text-muted': !isCampoInvalido(attivazioneInput), 'text-invalid': isCampoInvalido(attivazioneInput)}">
              {{setPlaceholder(attivazioneInput, 'date')}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 pb-2">
        <div class="row">
          <div class="col">
            <label for="scadenza" class="title">Scadenza</label>
          </div>
        </div>
        <div class="row">
          <div class="col calendar-wrapper">
            <svg class="bg-light icon img-calendar" (click)="openDatepicker(datePickerScadenza)">
              <use xlink:href="assets/img/sprite.svg#it-calendar"></use>
            </svg>
            <dp-date-picker
              mode="day"
              id="scadenza"
              theme="dp-material"
              [config]="{
              locale: 'it',
              format: 'DD/MM/YYYY',
              firstDayOfWeek: 'mo',
              showGoToCurrent: false,
              openOnClick: isCalendarOpen,
              openOnFocus: false,
              min: setMinDate(datePickerAttivazione),
              returnedValueType: tipoData
            }"
              #scadenzaInput = "ngModel"
              [(ngModel)]="datiPermesso.dataFineValidita"
              name="scadenza"
              #datePickerScadenza
              (click)="isCalendarOpen = false"
              (ngModelChange)="onChangeModel(attivazioneInput)"
            ></dp-date-picker>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p [ngClass]="{'text-muted': !isCampoInvalido(scadenzaInput), 'text-invalid': isCampoInvalido(scadenzaInput)}">
              {{setPlaceholder(scadenzaInput, 'date')}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isSelectValida(datiPermesso.enteId, listaEnti) && datiPermesso.servizioId !== listaServizi[listaServizi.length - 1]?.value">
      <div class="row">
        <div *ngFor="let funzione of listaFunzioni; let i = index" class="col-3">
          <it-checkbox [id]="i" [label]="funzione.label" (change)="onChangeCheckBox($event, funzione.value)"></it-checkbox>
        </div>
      </div>
    </div>
    <hr>
  </form>
</div>
