<div class="page-section">
  <div class="row">

    <div class="col-md-4">
      <div class="row">
        <label for="selectLivelloTerritoriale" class="title">Livello territoriale</label>
      </div>
      <div class="row">
        <select class="form-elem-big" id="selectLivelloTerritoriale" [(ngModel)]="livelloTerritorialeSelezionato" (ngModelChange)="recuperaFiltroEnti(livelloTerritorialeSelezionato)">
          <option *ngFor="let item of listaLivelliTerritoriali" [value]="item.value">{{item.label}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <label for="selectEnte" class="title">Ente</label>
      </div>
      <div class="row">
        <select [disabled]="livelloTerritorialeSelezionato == null" class="form-elem-big" id="selectEnte" [(ngModel)]="enteSelezionato" (ngModelChange)="recuperaFiltroServizi(enteSelezionato)">
          <option *ngFor="let item of listaEnti" [value]="item.value">{{item.label}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <label for="selectServizio" class="title">Servizio</label>
      </div>
      <div class="row">
        <select [disabled]="enteSelezionato == null" class="form-elem-big" id="selectServizio" [(ngModel)]="servizioSelezionato" (ngModelChange)="compila()">
          <option *ngFor="let item of listaServizi" [value]="item.value">{{item.label}}</option>
        </select>
      </div>
    </div>

  </div>
</div>
