<div class="page-section">
  <div class="row">

    <div class="col-md-4">
      <div class="form-elem-container">
        <div class="row">
          <label for="selectLivelloTerritoriale" class="title">Livello territoriale</label>
        </div>
        <div class="row">
          <select id="selectLivelloTerritoriale" [(ngModel)]="livelloTerritorialeSelezionato" (ngModelChange)="selezionaLivelloTerritoriale()">
            <option *ngFor="let item of listaLivelliTerritoriali" [value]="item.value">{{item.label}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-elem-container">
        <div class="row">
          <label for="selectEnte" class="title">Ente</label>
        </div>
        <div class="row">
          <select [disabled]="livelloTerritorialeSelezionato == null" id="selectEnte" [(ngModel)]="enteSelezionato" (ngModelChange)="selezionaEnte()">
            <option *ngFor="let item of listaEnti" [value]="item.value">{{item.label}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-elem-container">
        <div class="row">
          <label for="selectServizio" class="title">Servizio</label>
        </div>
        <div class="row">
          <select [disabled]="enteSelezionato == null" id="selectServizio" [(ngModel)]="servizioSelezionato" (ngModelChange)="selezionaServizio()">
            <option *ngFor="let item of listaServizi" [value]="item.value">{{item.label}}</option>
          </select>
        </div>
      </div>
    </div>

  </div>
</div>
