<hr/>

<div class="row">
  <div class="col-1">
    <p class="title page-subtitle">Dati</p>
  </div>
  <div class="offset-10 col-1">
    <svg class="bg-light icon"
         data-toggle="collapse" data-target="#sezioneDati"
         aria-expanded="true" aria-controls="sezioneDati"
         (click)="aggiornaVisibilita()">
      <use [attr.xlink:href]="isVisibile ? 'assets/img/sprite.svg#it-collapse' : 'assets/img/sprite.svg#it-expand'" xlink:href=""></use>
    </svg>
  </div>
</div>

<div id="sezioneDati" class="collapse show">
  <div class="page-section">
    <div class="row">
      <div *ngFor="let campo of listaCampi" [ngClass]="{'col-md-2': !isCampoGrande(campo), 'col-md-4': isCampoGrande(campo)}">
        <div [ngSwitch]="campo.tipoCampo" class="form-elem-container">

          <div *ngSwitchCase="'string'" class="dynamic-form-elem">
            <div class="row">
              <label [htmlFor]="campo['nome']" class="title">{{campo.titolo}}</label>
            </div>
            <div class="row">
              <input
                [id]="campo['nome']"
                [placeholder]="campo['informazioni']"
                [(ngModel)]="valoriCampi[campo['nome']]"
                type="text"
              />
            </div>
          </div>

          <div *ngSwitchCase="'number'" class="dynamic-form-elem">
            <div class="row">
              <label [htmlFor]="campo['nome']" class="title">{{campo.titolo}}</label>
            </div>
            <div class="row">
              <input
                [id]="campo['nome']"
                [placeholder]="campo['informazioni']"
                [(ngModel)]="valoriCampi[campo['nome']]"
                type="number"
              />
            </div>
          </div>

          <div *ngSwitchCase="'boolean'" class="dynamic-form-elem">
            <div class="row">
              <div class="form-elem-checkbox-container">
                <label [htmlFor]="campo['nome']" class="title">
                  <input
                    [id]="campo['nome']"
                    class="form-elem-checkbox"
                    [(ngModel)]="valoriCampi[campo['nome']]"
                    type="checkbox"
                  />
                  {{campo.titolo}}</label>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'date'" class="dynamic-form-elem">
            <div class="row">
              <label [htmlFor]="campo['nome']+'-giorno'" class="title">{{campo.titolo}}</label>
            </div>
            <div class="row">
              <div class="col-3 form-elem-date-col">
                <input
                  [id]="campo['nome']+'-giorno'"
                  [(ngModel)]="valoriCampi[campo['nome']]['giorno']"
                  type="number"
                  min="1"
                  [max]="calcolaMaxGiorni(campo['nome']['mese'], campo['nome']['anno'])"
                />
                <span class="form-elem-date-separator">/</span>
              </div>
              <div class="col-6 form-elem-date-col">
                <select class="form-elem-date-select">
                  <option [value]="null"></option>
                  <option *ngFor="let item of mesi">{{item.label}}</option>
                </select>
                <span class="form-elem-date-separator">/</span>
              </div>
              <div class="col-3 form-elem-date-col">
                <input
                  [id]="campo['nome']+'-anno'"
                  [(ngModel)]="valoriCampi[campo['nome']]['anno']"
                  type="number"
                  min="1900"
                  [max]="calcolaMaxAnno()"
                />
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'datemmyy'" class="dynamic-form-elem">
            <div class="row">
              <label [htmlFor]="campo['nome']+'-mese'" class="title">{{campo.titolo}}</label>
            </div>
            <div class="row">
              <div class="col-8 form-elem-date-col">
                <select class="form-elem-date-select">
                  <option [value]="null"></option>
                  <option *ngFor="let item of mesi">{{item.label}}</option>
                </select>
                <span class="form-elem-date-separator">/</span>
              </div>
              <div class="col-4 form-elem-date-col">
                <input
                  [id]="campo['nome']+'-anno'"
                  [(ngModel)]="valoriCampi[campo['nome']]['anno']"
                  type="number"
                  min="1900"
                  [max]="calcolaMaxAnno()"
                />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
