<p class="title page-subtitle">Dati</p>

<!--Sezione dati-->
<div class="page-section">
  <div class="row">
    <div *ngFor="let campo of listaCampi" [ngClass]="{'col-md-2': !isCampoGrande(campo), 'col-md-4': isCampoGrande(campo)}">
      <div [ngSwitch]="campo.tipoCampo">
        <div *ngSwitchCase="'string'" class="dynamic-label">
          <form>
            <it-input
              [name]="campo['nome']"
              [label]="campo.titolo"
              [(ngModel)]="campiCompilati[campo['nome']]"
              [type]="'text'"
            >
            </it-input>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>

<p class="title page-subtitle">Importi</p>

<!--Sezione importi-->
<div class="page-section">
</div>
