.dynamic-form-elem {
  margin-top: 20px;
}

.form-elem-date-col {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-elem-date-separator {
  padding-left: 5px;
  padding-right: 5px;
}

.form-elem-date-select {
  position: relative;
  bottom: 2px;
  padding-left: 10px;
}
