<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container-fluid">
      <section>
        <div class="row clearfix">
          <div class="col-5 text-center"></div>
          <div class="col-1 text-center">
            <div class="it-brand-wrapper">
              <a target="_blank" href="#">Policy privacy</a>
            </div>
          </div>
          <div class="col-6 text-center">
            <div class="it-brand-wrapper">
              <a target="_blank" href="https://www.lepida.net/assistenza/richiesta-assistenza-payer">Contattaci</a>
            </div>
          </div>
        </div>
        <div class="row clearfix justify-content-md-center">
          <div class="col-12 pb-4 text-center">Lepida S.c.p.A. - Via della Liberazione, 15 - 40128 Bologna - P.IVA 02770891204</div>
        </div>
      </section>
    </div>
  </div>
</footer>
