<div class="row justify-content-md-center">
  <div class="col-12 font-msg align-middle">
    <button (click)="goToFeedback()" [style.width]="'100%'" [style.text-transform]="'none'" id="payButton"
            type="button" class="btn btn-outline-secondary mb-0">
      <svg class="icon icon icon-sm icon-white">
        <use
          xlink:href="assets/img/sprite.svg#it-pencil"
        ></use>
      </svg>
      <span> Hai un quesito o una segnalazione sul contenuto del sito?</span>
    </button>
  </div>
</div>
<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container-fluid">
      <section>
        <div class="row clearfix">
          <div class="col-3"></div>
          <div class="col-6"><img src="assets/img/payer_bianco.png" alt="" class="h-100px img-fluid"></div>
          <div class="col-3"></div>
        </div>
        <div class="row clearfix">
          <div class="col-3"></div>
          <div class="col-6"><hr/></div>
          <div class="col-3"></div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-5 col-md-3 col-sm-3 text-center"></div>
          <div class="col-lg-2 col-md-3 col-sm-3 text-center">
            <div class="it-brand-wrapper">
              <a class="underline" target="_blank" href="#"><strong>Policy privacy</strong></a>
            </div>
          </div>
          <div class="col-lg-5 col-md-4 col-sm-4 text-center">
            <div class="it-brand-wrapper">
              <a class="underline" target="_blank" href="https://www.lepida.net/assistenza/richiesta-assistenza-payer"><strong>Contattaci</strong></a>
            </div>
          </div>
        </div>
        <div class="row clearfix justify-content-md-center">
          <div class="col-12 pb-4 text-center">Lepida S.c.p.A. - Via della Liberazione, 15 - 40128 Bologna - P.IVA
            02770891204
          </div>
        </div>
      </section>
    </div>
  </div>
</footer>
