.subsection-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #77777B;
  line-height: 0;
}

.input-text {
  background-color: transparent;
  height: auto;
  font-weight: normal;
}

.calendar {
  position: relative;
}

.img-datepicker {
  position: absolute;
  height: 30px;
  bottom: 5px;
  fill: #77777B;
  cursor: pointer;
}

.btn-find {
  text-align: right;
  margin-left: -6%;
}

.date-input {
  padding-left: 35px;
}

svg {
  fill: #004987;
}

.section-row {
  margin: 3%;
}

.form-elem {
  width: 80%;
}

::ng-deep ngb-datepicker.dropdown-menu.show:before {
  content: none !important;
}

::ng-deep .ngb-dp-arrow-btn {
  background-color: transparent !important;
}

/*prime ng font component*/
:host ::ng-deep .p-component{
  font-family: "Titillium Web", Geneva,Tahoma,sans-serif;
  font-size: 12px;
}

/*prime ng link*/
:host ::ng-deep .p-link:focus {
  box-shadow: none;
}

:host::ng-deep dp-date-picker, :host::ng-deep .dp-picker-input {
  width: 100% !important;
}

@media screen and (max-width: 510px) {
  .button-space {
    padding: 0;
  }
}
