<div class="container-fluid">
  <div class="row justify-content-md-center">
    <h3 class="header"><b>Il suo pagamento &egrave; stato preso in carico.</b></h3>
  </div>
  <div class="row justify-content-md-center">

    <div class="progress-spinner progress-spinner-active">
      <span class="sr-only">Caricamento...</span>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <h3 class="collapse-header"><b>La preghiamo di attendere 10 secondi.</b></h3>
  </div>
  <div class="row justify-content-md-center">
    <h3 class="font-msg">Appena possibile o al massimo entro 2 minuti verr&agrave; reindirizzato sul portale
      dell'ente.</h3>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-12 font-msg align-middle">
      <button [style.width]="'100%'" id="payButton" type="button" class="btn btn-outline-secondary mb-0">
        <svg class="icon icon icon-sm icon-white">
          <use
            xlink:href="assets/img/sprite.svg#it-pencil"
          ></use>
        </svg>
        <span> Hai un quesito o una segnalazione sul contenuto del sito?</span>
      </button>
    </div>
  </div>
  <footer class="it-footer">
    <div class="it-footer-main">
      <div class="container">
        <section>
          <div class="row clearfix">
            <div class="col-sm-2">
              <div class="it-brand-wrapper">
                <a href="#">Note legali</a>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="it-brand-wrapper">
                <a href="#">Policy privacy</a>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="it-brand-wrapper">
                <a href="#">Sicurezza</a>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="it-brand-wrapper">
                <a href="#">Info costi</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="it-brand-wrapper">
                <a href="#">Contattaci</a>
              </div>
            </div>
          </div>
          <div class="row clearfix justify-content-md-center">
            <div class="col-12">Lepida S.c.p.A. - Via della Liberazione, 15 - 40128 Bologna - P.IVA 02770891204</div>
          </div>
        </section>
      </div>
    </div>
  </footer>
</div>
