:host ::ng-deep .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: white;
}

:host ::ng-deep .navbar-light .navbar-toggler {
  border: none;
}

#cart-background {
  position: absolute;
  bottom: -40px;
  background-color: #EC6C25;
  padding: 12px;
}

@media screen and (max-width: 768px) {
  .font-menu-sidebar {
    display: none;
  }
}
