.modal-wrapper {
  height: 100%;
}

.page-section {
  margin: 3vh 3vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-elem-container {
  padding-left: 2vw;
  padding-right: 2vw;
}

.required .form-elem-title:after {
  content: ' *';
  color: red;
}

.form-elem-title {
  //Manda a capo i titoli di campi composti da parole molto lunghe, che si sovrapporrebbero ai campi adiacenti
  word-break: break-word;
}

@media screen and (max-width: 510px) {
  .button-space {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  #bottoneAggiungiTipoCampo {
    margin-top: 25px;
  }
}
