:host ::ng-deep ngb-pagination {
  .pagination {
    transform: scale(0.8);
    transform-origin: left;

    .page-item.active .page-link {
      background: #004987;
    }

    .page-item .page-link:hover {
      color: #ef8157;
    }
  }
}

:host ::ng-deep .dropdown > [ngbdropdowntoggle]:hover,
:host ::ng-deep .dropdown > [ngbdropdowntoggle]:active {
  color: #FFFFFF !important;
  background: #403d39  !important;
}

:host ::ng-deep .dropdown > [ngbdropdownmenu]{
  margin: 0;
}

:host ::ng-deep .dropdown > [ngbdropdownmenu]:before{
  display: none;
}
:host ::ng-deep .dropdown > [ngbdropdownmenu] > [ngbdropdownitem]:hover{
  background: #ef8157;
}

:host ::ng-deep .dropdown > [ngbdropdowntoggle]:after{
  margin-left: .255em;
}

:host ::ng-deep [ngbdropdowntoggle] {
  transform: scale(0.8);
  transform-origin: left;

  background: #004987;
  color: #FFFFFF;
  border: 0 !important;

}
