<div class="container-fluid p-0 m-0 font-table">
  <div class="row table-header pb-2">
    <div class="col-lg-1 col-md-1 d-sm-flex d-md-flex d-lg-flex d-none col-sm-0"></div>
    <div class="col-lg-2 col-md-2 d-sm-flex d-md-flex d-lg-flex d-none col-sm-0">Anno doc.</div>
    <div class="col-lg-2 col-md-2 d-sm-flex d-md-flex d-lg-flex d-none col-sm-0">N.ro Documento</div>
    <div class="col-lg-2 col-md-2 col-sm-2">Descrizione</div>
    <div class="col-lg-2 col-md-2 d-sm-flex d-md-flex d-lg-flex d-none col-sm-0">Servizio</div>
    <div class="col-lg-2 col-md-2 d-sm-flex d-md-flex d-lg-flex d-none col-sm-0">Ente</div>
    <div class="col-lg-2 col-md-2 col-sm-2">Scadenza</div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Importo</div>
  </div>
  <ng-container *ngFor="let pagamento of listaPagamenti">
    <div class="row pt-2 pb-2 table-item">
      <div class="col-lg-1 col-md-1 d-none d-sm-flex d-md-flex d-lg-flex d-none col-sm-0">
        <svg class="bg-light icon icon-xs">
          <use xlink:href="assets/img/sprite.svg#it-delete"></use>
        </svg>
      </div>
      <div class="col-lg-2 col-md-2 d-sm-flex d-md-flex d-lg-flex d-none col-sm-0">{{pagamento.anno}}</div>
      <div class="col-lg-2 col-md-2 d-sm-flex d-md-flex d-lg-flex d-none col-sm-0">{{pagamento.numDocumento}}</div>
      <div class="col-lg-2 col-md-2 col-sm-2">{{pagamento.causale}}</div>
      <div class="col-lg-2 col-md-2 d-sm-flex d-md-flex d-lg-flex d-none col-sm-0">{{pagamento.servizio}}</div>
      <div class="col-lg-2 col-md-2 d-sm-flex d-md-flex d-lg-flex d-none col-sm-0">{{pagamento.ente}}</div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{pagamento.importo|currency:"EUR":"€ "| replace:'.':','}}</div>
    </div>
  </ng-container>
</div>
