<div class="container-fluid">
  <!-- breadcrumb -->
  <it-breadcrumb [dark]="false" [separator]="'/'">
    <it-breadcrumb-item [id]="'breadcrumb-item-' + item.id" *ngFor="let item of breadcrumbList; let i = index"
                        [link]="item.link">
      {{item.label}}
    </it-breadcrumb-item>
  </it-breadcrumb>

  <!-- titolo -->
  <h3 class="mb-2 page-title"><strong>{{titoloPagina}}</strong>
    <span it-tooltip="{{tooltip}}">
      <svg class="bg-light icon icon-lg icon-padded">
        <use xlink:href="assets/img/sprite.svg#it-help-circle"></use>
      </svg>
    </span>
  </h3>

  <!-- dati -->
  <app-filtro-gestione-servizio
    *ngIf="idFunzione"
    [filtriIniziali]="filtro"
    [funzione]="funzione"
    (onChangeFiltri)="onChangeFiltri($event)"
  ></app-filtro-gestione-servizio>

  <div *ngIf="filtri" class="ml-4">
    <form #datiForm="ngForm">
      <div class="collapse-header" id="idCollapseFiltri">
        <button data-toggle="collapse" data-target="#contatti" aria-expanded="true"
                aria-controls="contatti">
          Contatti
        </button>
      </div>
      <div id="contatti" class="collapse show" role="tabpanel" aria-labelledby="idCollapseFiltri">
        <div class="row mt-2 mb-0">
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label for="nome" class="title">Nome</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input id="nome" name="nome" type="text" class="input-text pt-0" autocomplete="off"
                       #nome="ngModel" [(ngModel)]="contatti.nome" [disabled]="disabilitaCampi()">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p
                  [ngClass]="{'text-invalid': isCampoInvalido(nome)}">
                  {{setPlaceholder(nome, TipoCampoEnum.INPUT_TESTUALE)}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label for="cognome" class="title">Cognome</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input id="cognome" name="cognome" type="text" class="input-text pt-0" autocomplete="off"
                       #cognome="ngModel" [(ngModel)]="contatti.cognome" [disabled]="disabilitaCampi()">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p
                  [ngClass]="{'text-invalid': isCampoInvalido(cognome)}">
                  {{setPlaceholder(cognome, TipoCampoEnum.INPUT_TESTUALE)}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label for="tel" class="title">Tel. ufficio o cellulare</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input id="tel" name="tel" type="text" class="input-text pt-0" autocomplete="off"
                       #tel="ngModel" [(ngModel)]="contatti.telefono" [disabled]="disabilitaCampi()">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p
                  [ngClass]="{'text-invalid': isCampoInvalido(tel)}">
                  {{setPlaceholder(tel, TipoCampoEnum.INPUT_TESTUALE)}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2 mb-0">
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label for="email" class="title">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input id="email" name="email" type="text" class="input-text pt-0" autocomplete="off"
                       #email="ngModel" [(ngModel)]="contatti.email" [disabled]="disabilitaCampi()">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p
                  [ngClass]="{'text-invalid': isCampoInvalido(email)}">
                  {{setPlaceholder(email, TipoCampoEnum.INPUT_TESTUALE)}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5 pb-2">
            <div class="row">
              <div class="col">
                <label for="reperibile" class="title">Giorni e orario in cui è reperibile</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input id="reperibile" name="reperibile" type="text" class="input-text pt-0" autocomplete="off"
                       #reperibile="ngModel" [(ngModel)]="contatti.reperibilita" [disabled]="disabilitaCampi()">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p
                  [ngClass]="{'text-invalid': isCampoInvalido(reperibile)}">
                  {{setPlaceholder(reperibile, TipoCampoEnum.INPUT_TESTUALE)}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="collapse-header" id="idCollapseIntegrazione">
        <button data-toggle="collapse" data-target="#integrazione" aria-expanded="true"
                aria-controls="integrazione">
          Integrazione
        </button>
      </div>
      <div id="integrazione" class="collapse show" role="tabpanel" aria-labelledby="idCollapseIntegrazione">
        <div class="row mt-2 mb-0">
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label [htmlFor]="'livelloIntegrazione'" class="title form-elem-title"
                       [ngClass]="{'required': funzione !== FunzioneGestioneEnum.DETTAGLIO}"
                >Livello di Integrazione</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <select
                  id="livelloIntegrazione"
                  name="livelloIntegrazione"
                  [(ngModel)]="integrazione.livelloIntegrazioneId"
                  #livelloIntegrazione="ngModel"
                  [required]="true"
                  (ngModelChange)="cambiaLivelloIntegrazione($event)">
                  <option [ngValue]="null" [selected]="true">Seleziona</option>
                  <option [ngValue]="LivelloIntegrazioneEnum.LV1">Livello 1</option>
                  <option [ngValue]="LivelloIntegrazioneEnum.LV2">Livello 2</option>
                  <option [ngValue]="LivelloIntegrazioneEnum.LV2_BACK_OFFICE">Livello 2 BO</option>
                  <option [ngValue]="LivelloIntegrazioneEnum.LV3">Livello 3</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p
                  [ngClass]="{'text-invalid': isCampoInvalido(livelloIntegrazione)}">
                  {{setPlaceholder(livelloIntegrazione, TipoCampoEnum.SELECT)}}
                </p>
              </div>
            </div>
          </div>
          <ng-container *ngIf="integrazione.livelloIntegrazioneId == LivelloIntegrazioneEnum.LV2_BACK_OFFICE">
            <div class="col-sm-6 col-md-5 col-lg-5 pb-2">
              <div class="row">
                <div class="col">
                  <label [htmlFor]="'urlWsBO'" class="title form-elem-title"
                  >Url del web service di Back Office</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input id="urlWsBO" name="urlWsBO" type="text" class="input-text pt-0" autocomplete="off"
                         [customvalidator]="validateUrl()"
                         [required]="integrazione.livelloIntegrazioneId == LivelloIntegrazioneEnum.LV2_BACK_OFFICE"
                         #urlWsBO="ngModel" [(ngModel)]="integrazione.urlWebServiceBackoffice"
                         [disabled]="disabilitaCampi()">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p
                    [ngClass]="{'text-invalid': isCampoInvalido(urlWsBO)}">
                    {{setPlaceholder(urlWsBO, TipoCampoEnum.INPUT_TESTUALE)}}
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="integrazione.livelloIntegrazioneId == LivelloIntegrazioneEnum.LV1">
            <div class="col-sm-6 col-md-4 col-lg-2 pb-2">
              <div class="row">
                <div class="col">
                  <label [htmlFor]="'codiceEnte'" class="title form-elem-title"
                  >Codice Ente</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input id="codiceEnte" name="codiceEnte" type="text" class="input-text pt-0" autocomplete="off"
                         [required]="integrazione.livelloIntegrazioneId == LivelloIntegrazioneEnum.LV1"
                         #codiceEnte="ngModel" [(ngModel)]="integrazione.ufficio.codiceEnte"
                         [disabled]="disabilitaCampi()">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 pb-2">
              <div class="row">
                <div class="col">
                  <label [htmlFor]="'tipoUfficio'" class="title form-elem-title"
                  >Tipo Ufficio</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input id="tipoUfficio" name="tipoUfficio" type="text" class="input-text pt-0" autocomplete="off"
                         #tipoUfficio="ngModel" [(ngModel)]="integrazione.ufficio.tipoUfficio"
                         [disabled]="disabilitaCampi()">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 pb-2">
              <div class="row">
                <div class="col">
                  <label [htmlFor]="'codiceUfficio'" class="title form-elem-title"
                  >Codice Ufficio</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input id="codiceUfficio" name="codiceUfficio" type="text" class="input-text pt-0" autocomplete="off"
                         #codiceUfficio="ngModel" [(ngModel)]="integrazione.ufficio.codiceUfficio"
                         [disabled]="disabilitaCampi()">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 pb-2">
              <div class="row">
                <div class="col">
                  <label [htmlFor]="'codiceIDServizio'" class="title form-elem-title"
                  >Codice IDServizio</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input id="codiceIDServizio" name="codiceIDServizio" type="text" class="input-text pt-0"
                         autocomplete="off"
                         #codiceIDServizio="ngModel" [(ngModel)]="integrazione.codiceIdServizio"
                         [disabled]="disabilitaCampi()">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
              <div class="row">
                <div class="col">
                  <label [htmlFor]="'numeroTentativiNotifica'" class="title form-elem-title"
                  >Numero tentativi di notifica</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input id="numeroTentativiNotifica" name="numeroTentativiNotifica" type="number"
                         class="input-text pt-0"
                         autocomplete="off"
                         #numeroTentativiNotifica="ngModel" [(ngModel)]="integrazione.numeroTentativiNotifica"
                         [disabled]="disabilitaCampi()">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 pb-2">
              <div class="row">
                <div class="col">
                  <label [htmlFor]="'notificaUtente'" class="title form-elem-title"
                  >Notifica utente</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <select id="notificaUtente" name="notificaUtente"
                          #notificaUtente="ngModel" [(ngModel)]="integrazione.notificaUtente"
                          [disabled]="disabilitaCampi()">
                    <option [ngValue]="false" [selected]="true">NO</option>
                    <option [ngValue]="true">SI</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 pb-2">
              <div class="row">
                <div class="col">
                  <label [htmlFor]="'redirect'" class="title form-elem-title"
                  >Redirect</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input id="redirect" name="redirect" type="checkbox" class="input-text pt-0" autocomplete="off"
                         #redirect="ngModel" [(ngModel)]="integrazione.redirect"
                         [disabled]="disabilitaCampi()">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 pb-2">
              <div class="row">
                <div class="col">
                  <label [htmlFor]="'portaleEsterno'" class="title form-elem-title"
                         [ngClass]="{'required': integrazione.livelloIntegrazioneId == LivelloIntegrazioneEnum.LV1 || funzione !== FunzioneGestioneEnum.DETTAGLIO}">
                    Portale esterno</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <select id="portaleEsterno" name="portaleEsterno"
                          #portaleEsterno="ngModel" [(ngModel)]="integrazione.portaleEsternoId"
                          [required]="integrazione.livelloIntegrazioneId == LivelloIntegrazioneEnum.LV1"
                          [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO">
                    <option [ngValue]="null" [selected]="true">Seleziona</option>
                    <option *ngFor="let item of listaPortaleEsterno" [ngValue]="item.id">{{item.nome}}</option>
                  </select>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="collapse-header" id="idCollapseImpositore">
        <button data-toggle="collapse" data-target="#impositore" aria-expanded="true"
                aria-controls="impositore">
          Impositore
        </button>
      </div>
      <div id="impositore" class="collapse show" role="tabpanel" aria-labelledby="idCollapseImpositore">
        <div class="row mt-2 mb-0">
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label for="selectSocieta" class="title"
                       [ngClass]="{'required': funzione !== FunzioneGestioneEnum.DETTAGLIO}">Società</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <select [ngClass]="{'text-disabled': !listaSocieta.length}" id="selectSocieta" name="societaId"
                        #societaInput="ngModel" [(ngModel)]="impositore.societaId"
                        (ngModelChange)="onChangeSocietaImpositore(societaInput)"
                        [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO">
                  <option [ngValue]="null" [selected]="true">Seleziona</option>
                  <option *ngFor="let item of listaSocieta" [ngValue]="item.id">{{item.nome}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                   [ngClass]="{'text-muted': !isCampoInvalido(societaInput), 'text-invalid': isCampoInvalido(societaInput), 'text-disabled': !listaSocieta.length}">
                  {{setPlaceholder(societaInput, TipoCampoEnum.SELECT)}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label for="livelloTerritorialeId" class="title"
                       [ngClass]="{'required': funzione !== FunzioneGestioneEnum.DETTAGLIO}">
                  Livello Territoriale</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <select
                  id="livelloTerritorialeId"
                  name="livelloTerritorialeId"
                  #livelloTerritorialeId="ngModel"
                  [required]="true"
                  [(ngModel)]="impositore.livelloTerritorialeId"
                  [disabled]="!impositore.societaId"
                  (ngModelChange)="onChangeLivelloTerritorialeImpositore(societaInput, livelloTerritorialeId)"
                >
                  <option [ngValue]="null" selected>Seleziona</option>
                  <option *ngFor="let item of listaLivelloTerritoriale"
                          [ngValue]="item.id">{{item.nome}}</option>
                </select>
              </div>
            </div>
            <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
              <div class="col">
                <p *ngIf="!isCampoInvalido(livelloTerritorialeId)">Seleziona livello territoriale</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label for="selectEnte"
                       [ngClass]="{'title': true, 'required': funzione !== FunzioneGestioneEnum.DETTAGLIO}">Ente</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <select [ngClass]="{'input-disabled': !listaEnti.length}"
                        id="selectEnte" name="enteId"
                        #enteInput="ngModel" [(ngModel)]="impositore.enteId"
                        [disabled]="!impositore.societaId || !impositore.livelloTerritorialeId">
                  <option [ngValue]="null" [selected]="true">Seleziona</option>
                  <option *ngFor="let item of listaEnti" [ngValue]="item.id">{{item.nome}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p *ngIf="!isCampoInvalido(enteInput)">Seleziona Ente</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2 pb-2">
            <div class="row">
              <div class="col">
                <label for="switchMostraAlVersante" class="title">Mostra al versante</label>
              </div>
            </div>
            <div class="row">
              <it-toggle id="switchMostraAlVersante" [disabled]="disabilitaCampi()"
                         [(ngModel)]="impositore.mostraAlVersante" name="switchMostraAlVersante"></it-toggle>
            </div>
          </div>
        </div>
      </div>

      <div class="collapse-header" id="idCollapseBeneficiario">
        <button data-toggle="collapse" data-target="#beneficiario" aria-expanded="true"
                aria-controls="beneficiario">
          Beneficiario
        </button>
      </div>
      <div id="beneficiario" class="collapse show" role="tabpanel" aria-labelledby="idCollapseBeneficiario">
        <div class="row mt-2 mb-0">
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label for="selectSocietaBenef" class="title"
                       [ngClass]="{'required': integrazione.livelloIntegrazioneId != LivelloIntegrazioneEnum.LV1}">Società</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <select [ngClass]="{'text-disabled': !listaSocieta.length}" id="selectSocietaBenef"
                        name="societaIdBenef"
                        [required]="integrazione.livelloIntegrazioneId != LivelloIntegrazioneEnum.LV1"
                        #societaBenefInput="ngModel" [(ngModel)]="beneficiario.societaId"
                        (ngModelChange)="onChangeSocietaBeneficiario(societaBenefInput)"
                        [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO">
                  <option [ngValue]="null" [selected]="true">Seleziona</option>
                  <option *ngFor="let item of listaSocieta" [ngValue]="item.id">{{item.nome}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                   [ngClass]="{'text-muted': !isCampoInvalido(societaBenefInput), 'text-invalid': isCampoInvalido(societaBenefInput), 'text-disabled': !listaSocieta.length}">
                  {{setPlaceholder(societaBenefInput, TipoCampoEnum.SELECT)}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label for="livelloTerritorialeIdBenef" class="title"
                       [ngClass]="{'required': integrazione.livelloIntegrazioneId != LivelloIntegrazioneEnum.LV1}">
                  Livello Territoriale</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <select
                  id="livelloTerritorialeIdBenef"
                  name="livelloTerritorialeIdBenef"
                  #livelloTerritorialeIdBenef="ngModel"
                  [(ngModel)]="beneficiario.livelloTerritorialeId"
                  [disabled]="!beneficiario.societaId"
                  [required]="integrazione.livelloIntegrazioneId != LivelloIntegrazioneEnum.LV1"
                  (ngModelChange)="onChangeLivelloTerritorialeBeneficiario(societaBenefInput, livelloTerritorialeIdBenef)"
                >
                  <option [ngValue]="null" selected>Seleziona</option>
                  <option *ngFor="let item of listaLivelloTerritoriale"
                          [ngValue]="item.id">{{item.nome}}</option>
                </select>
              </div>
            </div>
            <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
              <div class="col">
                <p *ngIf="!isCampoInvalido(livelloTerritorialeIdBenef)">Seleziona livello territoriale</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label for="selectEnteBenef"
                       [ngClass]="{'title': true, 'required': integrazione.livelloIntegrazioneId != LivelloIntegrazioneEnum.LV1}">Ente</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <select [ngClass]="{'input-disabled': !listaEntiBenef.length}"
                        id="selectEnteBenef" name="enteIdBenef"
                        #enteBenefInput="ngModel" [(ngModel)]="beneficiario.enteId"
                        (ngModelChange)="onChangeEnte(enteBenefInput)"
                        [required]="integrazione.livelloIntegrazioneId != LivelloIntegrazioneEnum.LV1"
                        [disabled]="!beneficiario.societaId || !beneficiario.livelloTerritorialeId">
                  <option [ngValue]="null" [selected]="true">Seleziona</option>
                  <option *ngFor="let item of listaEntiBenef" [ngValue]="item.id">{{item.nome}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p *ngIf="!isCampoInvalido(enteBenefInput)">Seleziona Ente</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label for="selectEnteUfficio"
                       [ngClass]="{'title': true, 'required': integrazione.livelloIntegrazioneId != LivelloIntegrazioneEnum.LV1}">Ufficio</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <select [ngClass]="{'input-disabled': !listaEntiBenef.length}"
                        id="selectEnteUfficio" name="selectEnteUfficio"
                        #ufficioBenefInput="ngModel" [(ngModel)]="beneficiario.ufficio"
                        [required]="integrazione.livelloIntegrazioneId != LivelloIntegrazioneEnum.LV1"
                        [disabled]="!beneficiario.societaId || !beneficiario.livelloTerritorialeId || !beneficiario.enteId">
                  <option [ngValue]="null" [selected]="true">Seleziona</option>
                  <option *ngFor="let item of listaUfficio"
                          [ngValue]="item">{{item.codiceEnte}} {{item.tipoUfficio}} {{item.codiceUfficio}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p *ngIf="!isCampoInvalido(enteBenefInput)">Seleziona Ufficio</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
            <div class="row">
              <div class="col">
                <label for="descrUfficio">Descrizione</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input id="descrUfficio" name="descrUfficio" type="text" class="input-text pt-0" autocomplete="off"
                       #descrUfficio="ngModel" [ngModel]="beneficiario.ufficio?.descrizioneUfficio"
                       [disabled]="true">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse-header" id="idCollapseDatiBonifico">
        <button data-toggle="collapse" data-target="#datiBonifico" aria-expanded="true"
                aria-controls="datiBonifico">
          Dati Bonifico
        </button>
      </div>
      <div id="datiBonifico" class="collapse show" role="tabpanel" aria-labelledby="idCollapseDatiBonifico">
        <div class="row pt-2">
          <div class="col text-center">
            <a href="javascript:void(0)" (click)="selezionaDaCC()">Seleziona da un conto corrente esistente</a>
          </div>
        </div>
        <div class="row">
          <div #datiContoCorrente></div>
        </div>
        <div class="row">
          <div class="col text-right">
            <button *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO" id="buttonAggiungiContoCorrente"
                    class="btn btn-secondary"
                    (click)="aggiungiContoCorrente()">
              Aggiungi conto corrente
            </button>
          </div>
        </div>
      </div>
      <div class="collapse-header" id="idCollapseCampiServizio">
        <button data-toggle="collapse" data-target="#campiServizio" aria-expanded="true"
                aria-controls="campiServizio">
          Campi del Servizio
        </button>
      </div>
      <div id="campiServizio" class="collapse show" role="tabpanel" aria-labelledby="idCollapseCampiServizio">
        <ng-container
          *ngIf="integrazione.livelloIntegrazioneId && integrazione.livelloIntegrazioneId !== LivelloIntegrazioneEnum.LV1">
          <div class="row">
            <div class="col-12">
              <label class="title">Lista campi tipologia servizio</label>
              <span class="pointer bottone-campo"
                    *ngIf="funzione == FunzioneGestioneEnum.AGGIUNGI || funzione == FunzioneGestioneEnum.MODIFICA">
        <span ngbTooltip="Crea nuovo campo" placement="bottom"
              [ngStyle]="{fill: '#403d39'}">
          <svg (click)="add()" class="bg-light icon icon-sm filled">
            <use xlink:href="assets/img/sprite.svg#it-plus"></use>
          </svg>
        </span>
        </span>
            </div>
          </div>
          <div class="row" *ngIf="campoTipologiaServizioList">
            <ul class="legend">
              <li><span class="field-disabled"></span> Campo disabilitato</li>
              <li><span class="required"></span> Campo obbligatorio</li>
              <li><span class="key"></span> Campo chiave</li>
            </ul>
          </div>
          <div class="row" cdkDropListGroup *ngIf="campoTipologiaServizioList">
            <ng-container *ngFor="let item of campoTipologiaServizioList;let i=index">
              <div [ngClass]="calcolaDimensioneCampo(item)" cdkDropList
                   cdkDropListOrientation="horizontal"
                   [cdkDropListData]="{item:item, index:i}" (cdkDropListDropped)="dropEvt($event)">
                <div style="min-height: 5vh;"
                     [ngClass]="{'example-box':true, 'col-12': true, 'disabled': item.disabilitato,
               'field-input': (item.campoInput && !item.disabilitato)}"
                     [cdkDragDisabled]="!item.draggable" cdkDrag>
                  <div (click)="showModal(item)" class="example-custom-placeholder" *cdkDragPlaceholder></div>
                  <div class="row" style="width: 100%">
                    <div (click)="showModal(item)" class="col-7 text-right">{{item.titolo}}</div>
                    <div (click)="showModal(item)" class="col-1"><span [class]="{'required':item.obbligatorio}"></span>
                    </div>
                    <div (click)="showModal(item)" class="col-1"><span [class]="{'key':item.chiave}"></span></div>
                    <div class="col-3 text-right">
                      <span class="close" (click)="removeItem(item)"></span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="collapse-header" id="idCollapseFlussi">
        <button data-toggle="collapse" data-target="#flussi" aria-expanded="true"
                aria-controls="flussi">
          Flussi e notifiche
        </button>
      </div>
      <div id="flussi" class="collapse show" role="tabpanel" aria-labelledby="idCollapseFlussi">

        <div class="collapse-header" id="idCollapseGiornaliera">
          <button data-toggle="collapse" data-target="#giornaliera" aria-expanded="true"
                  aria-controls="giornaliera">
            Invio e rendicontazione giornaliera
          </button>
        </div>
        <div id="giornaliera" class="collapse show" role="tabpanel" aria-labelledby="idCollapseGiornaliera">
          <div class="row mt-2 mb-0">
            <div class="col-sm-6 col-md-4 col-lg-3 pb-2 pr-3 mr-3">
              <div class="row">
                <div class="col">
                  <label for="emailGiornaliera" class="title">Email</label>
                </div>
                <div class="col-2">
                  <it-toggle id="emailGiornaliera"
                             [(ngModel)]="rendicontazioneGiornaliera.emailEnabled" name="emailGiornaliera"></it-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="text" autocomplete="off"
                         [placeholder]="getPlaceholderRequired('Email', rendicontazioneGiornaliera.emailEnabled)"
                         #emailGiornalieraId="ngModel"
                         id="emailGiornalieraId"
                         name="emailGiornalieraId" [(ngModel)]="rendicontazioneGiornaliera.email"
                         [disabled]="!rendicontazioneGiornaliera.emailEnabled ? true : null">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                         [ngClass]="{'text-muted': !isCampoInvalido(emailGiornalieraId),
                       'text-invalid': isCampoInvalido(emailGiornalieraId)}">
                        {{setPlaceholder(emailGiornalieraId, TipoCampoEnum.INPUT_TESTUALE)}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <input type="text" autocomplete="off" placeholder="Ccn"
                         #emailGiornalieraCcn="ngModel"
                         id="emailGiornalieraCcn"
                         name="emailGiornalieraCcn" [(ngModel)]="rendicontazioneGiornaliera.emailCcn"
                         [disabled]="!rendicontazioneGiornaliera.emailEnabled ? true : null">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                         [ngClass]="{'text-muted': !isCampoInvalido(emailGiornalieraCcn),
                       'text-invalid': isCampoInvalido(emailGiornalieraCcn)}">
                        {{setPlaceholder(emailGiornalieraCcn, TipoCampoEnum.INPUT_TESTUALE)}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 pb-2 pr-3 mr-3">
              <div class="row">
                <div class="col">
                  <label for="ftpGiornaliera"
                         [ngClass]="{'required': rendicontazioneGiornaliera.ftpEnabled, 'title':true}">Ftp</label>
                </div>
                <div class="col-2">
                  <it-toggle id="ftpGiornaliera"
                             [(ngModel)]="rendicontazioneGiornaliera.ftpEnabled" name="ftpGiornaliera"></it-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="text" autocomplete="off" placeholder="Server"
                         [placeholder]="getPlaceholderRequired('Server', rendicontazioneGiornaliera.ftpEnabled)"
                         id="server" name="server" #server="ngModel"
                         [(ngModel)]="rendicontazioneGiornaliera.server"
                         [disabled]="!rendicontazioneGiornaliera.ftpEnabled ? true : null">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                         [ngClass]="{'text-muted': !isCampoInvalido(server),
                       'text-invalid': isCampoInvalido(server)}">
                        {{setPlaceholder(server, TipoCampoEnum.INPUT_TESTUALE)}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <input type="text" autocomplete="off" placeholder="Username"
                         [placeholder]="getPlaceholderRequired('Username', rendicontazioneGiornaliera.ftpEnabled)"
                         id="username" name="username" #username="ngModel"
                         [(ngModel)]="rendicontazioneGiornaliera.username"
                         [disabled]="!rendicontazioneGiornaliera.ftpEnabled ? true : null">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                         [ngClass]="{'text-muted': !isCampoInvalido(username),
                       'text-invalid': isCampoInvalido(username)}">
                        {{setPlaceholder(username, TipoCampoEnum.INPUT_TESTUALE)}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <input type="text" autocomplete="off"
                         [placeholder]="getPlaceholderRequired('Password', rendicontazioneGiornaliera.ftpEnabled)"
                         id="password" name="password" #password="ngModel"
                         [(ngModel)]="rendicontazioneGiornaliera.password"
                         [disabled]="!rendicontazioneGiornaliera.ftpEnabled ? true : null">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                         [ngClass]="{'text-muted': !isCampoInvalido(password),
                       'text-invalid': isCampoInvalido(password)}">
                        {{setPlaceholder(password, TipoCampoEnum.INPUT_TESTUALE)}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <input type="text" autocomplete="off"
                         [placeholder]="getPlaceholderRequired('Directory', rendicontazioneGiornaliera.ftpEnabled)"
                         id="directory" name="directory" #directory="ngModel"
                         [(ngModel)]="rendicontazioneGiornaliera.directory"
                         [disabled]="!rendicontazioneGiornaliera.ftpEnabled ? true : null">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                         [ngClass]="{'text-muted': !isCampoInvalido(directory),
                       'text-invalid': isCampoInvalido(directory)}">
                        {{setPlaceholder(directory, TipoCampoEnum.INPUT_TESTUALE)}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="collapse-header" id="idCollapseflussoPA">
          <button data-toggle="collapse" data-target="#flussoPA" aria-expanded="true"
                  aria-controls="flussoPA">
            Invio flusso di riversamento PagoPA
          </button>
        </div>
        <div id="flussoPA" class="collapse show" role="tabpanel" aria-labelledby="idCollapseflussoPA">
          <div class="row mt-2 mb-0">
            <div class="col-sm-6 col-md-4 col-lg-3 pb-2 pr-3 mr-3">
              <div class="row">
                <div class="col">
                  <label for="emailFlussoPA" class="title">Email</label>
                </div>
                <div class="col-2">
                  <it-toggle id="emailFlussoPA"
                             [(ngModel)]="rendicontazioneFlussoPA.emailEnabled" name="emailFlussoPA"></it-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="text" autocomplete="off"
                         [placeholder]="getPlaceholderRequired('Email', rendicontazioneFlussoPA.emailEnabled)"
                         id="emailFlussoPAId"
                         name="emailFlussoPAId" [(ngModel)]="rendicontazioneFlussoPA.email"
                         #emailFlussoPAId="ngModel"
                         [disabled]="!rendicontazioneFlussoPA.emailEnabled ? true : null">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                         [ngClass]="{'text-muted': !isCampoInvalido(emailFlussoPAId),
                       'text-invalid': isCampoInvalido(emailFlussoPAId)}">
                        {{setPlaceholder(emailFlussoPAId, TipoCampoEnum.INPUT_TESTUALE)}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <input type="text" autocomplete="off" placeholder="Ccn" id="emailFlussoPACcn"
                         name="emailFlussoPACcn" [(ngModel)]="rendicontazioneFlussoPA.emailCcn"
                         #emailFlussoPACcn="ngModel"
                         [disabled]="!rendicontazioneFlussoPA.emailEnabled ? true : null">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                         [ngClass]="{'text-muted': !isCampoInvalido(emailFlussoPACcn),
                       'text-invalid': isCampoInvalido(emailFlussoPACcn)}">
                        {{setPlaceholder(emailFlussoPACcn, TipoCampoEnum.INPUT_TESTUALE)}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 pb-2 pr-3 mr-3">
              <div class="row">
                <div class="col">
                  <label for="ftpFlussoPA" [ngClass]="{'required': rendicontazioneFlussoPA.ftpEnabled, 'title':true}">Ftp</label>
                </div>
                <div class="col-2">
                  <it-toggle id="ftpFlussoPA"
                             [(ngModel)]="rendicontazioneFlussoPA.ftpEnabled" name="ftpFlussoPA"></it-toggle>
                </div>
              </div>
              <div class="row">

                <div class="col-12">
                  <input type="text" autocomplete="off"
                         [placeholder]="getPlaceholderRequired('Server (nome o IP)', rendicontazioneFlussoPA.ftpEnabled)"
                         id="serverFlussoPA" name="serverFlussoPA"
                         [(ngModel)]="rendicontazioneFlussoPA.server" #serverFlussoPA="ngModel"
                         [disabled]="!rendicontazioneFlussoPA.ftpEnabled ? true : null">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                         [ngClass]="{'text-muted': !isCampoInvalido(serverFlussoPA),
                       'text-invalid': isCampoInvalido(serverFlussoPA)}">
                        {{setPlaceholder(serverFlussoPA, TipoCampoEnum.INPUT_TESTUALE)}}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <input type="text" autocomplete="off"
                         [placeholder]="getPlaceholderRequired('Username', rendicontazioneFlussoPA.ftpEnabled)"
                         id="usernameFlussoPA"
                         name="usernameFlussoPA"
                         [(ngModel)]="rendicontazioneFlussoPA.username"
                         [disabled]="!rendicontazioneFlussoPA.ftpEnabled ? true : null">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                         [ngClass]="{'text-muted': !isCampoInvalido(serverFlussoPA),
                       'text-invalid': isCampoInvalido(serverFlussoPA)}">
                        {{setPlaceholder(serverFlussoPA, TipoCampoEnum.INPUT_TESTUALE)}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <input type="text" autocomplete="off"
                         [placeholder]="getPlaceholderRequired('Password', rendicontazioneFlussoPA.ftpEnabled)"
                         id="passwordFlussoPA"
                         name="passwordFlussoPA" #passwordFlussoPA="ngModel"
                         [(ngModel)]="rendicontazioneFlussoPA.password"
                         [disabled]="!rendicontazioneFlussoPA.ftpEnabled ? true : null">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                         [ngClass]="{'text-muted': !isCampoInvalido(passwordFlussoPA),
                       'text-invalid': isCampoInvalido(passwordFlussoPA)}">
                        {{setPlaceholder(passwordFlussoPA, TipoCampoEnum.INPUT_TESTUALE)}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <input type="text" autocomplete="off" id="directoryFlussoPA"
                         [placeholder]="getPlaceholderRequired('Directory', rendicontazioneFlussoPA.ftpEnabled)"
                         name="directoryFlussoPA" #directoryFlussoPA="ngModel"
                         [(ngModel)]="rendicontazioneFlussoPA.directory"
                         [disabled]="!rendicontazioneFlussoPA.ftpEnabled ? true : null">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                         [ngClass]="{'text-muted': !isCampoInvalido(directoryFlussoPA),
                       'text-invalid': isCampoInvalido(directoryFlussoPA)}">
                        {{setPlaceholder(directoryFlussoPA, TipoCampoEnum.INPUT_TESTUALE)}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="collapse-header" id="idCollapseNotifiche">
          <button data-toggle="collapse" data-target="#notifiche" aria-expanded="true"
                  aria-controls="notifiche">
            Invio notifiche di pagamento
          </button>
        </div>
        <div id="notifiche" class="collapse show" role="tabpanel" aria-labelledby="idCollapseNotifiche">
          <div class="row mt-2 mb-0">
            <div class="col-sm-6 col-md-4 col-lg-3 pb-2 pr-3 mr-3">
              <div class="row">
                <div class="col">
                  <label class="title">Email</label>
                </div>
              </div>
              <div class="row" *ngFor="let item of emailsControl; let i = index">
                <div class="col-12">
                  <input [formControl]="item" type="text" autocomplete="off" [customvalidator]="validateEmail()">
                  <span *ngIf="i != emailsControl.length -1" class="pointer bottone-campo">
                      <span ngbTooltip="rimuovi" placement="bottom"
                            [ngStyle]="{fill: '#403d39'}">
                        <svg (click)="removeEmail(i)" class="bg-light icon icon-sm filled">
                          <use xlink:href="assets/img/sprite.svg#it-minus"></use>
                        </svg>
                      </span>
                    </span>
                  <span *ngIf="i == emailsControl.length -1" class="pointer bottone-campo">
                      <span ngbTooltip="Aggiungi email" placement="bottom"
                            [ngStyle]="{fill: '#403d39'}">
                        <svg (click)="addEmail()" class="bg-light icon icon-sm filled">
                          <use xlink:href="assets/img/sprite.svg#it-plus"></use>
                        </svg>
                      </span>
                    </span>
                </div>
                <div class="row">
                  <div class="col">
                    <p *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                       [ngClass]="{'text-muted': !isCampoInvalido(item),
                       'text-invalid': isCampoInvalido(item)}">
                      {{setPlaceholder(item, TipoCampoEnum.INPUT_TESTUALE)}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr/>

      <div class="row">
        <!-- Bottone sx -->
        <div class="col-2">
          <button id="buttonAnnulla" class="btn btn-secondary"
                  (click)="onClickAnnulla(funzione)">{{funzione === FunzioneGestioneEnum.DETTAGLIO ? 'Indietro' : 'Annulla'}}</button>
        </div>
        <!-- Bottoni dx -->
        <div class="col-10 text-right" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
          <button id="buttonSalva" class="btn" [disabled]="datiForm.invalid" (click)="onClickSalva()">Salva</button>
        </div>
      </div>
    </form>
  </div>
</div>
<p-dialog header="Lista conti correnti" [(visible)]="displayCc">
  <div class="row">
    <div class="col">

    </div>
  </div>
  <div class="row pt-2">
    <div class="col text-center">
      <button type="button" class="undoButton" pButton icon="pi pi-times" label="Annulla"
              (click)="selezionaDaCC()"></button>
    </div>
  </div>
</p-dialog>
