/*prime ng font component*/
:host ::ng-deep .p-component{
  font-family: "Titillium Web", Geneva,Tahoma,sans-serif;
  font-size: 12px;
}

/*prime ng link*/
:host ::ng-deep .p-link:focus {
  box-shadow: none;
}

.text-muted {
  color: #77777B;
}

.text-invalid {
  color: #FF0000;
}

:host ::ng-deep .p-autocomplete.p-component {
  width: 100%;
}

:host ::ng-deep .required:after {
  content: ' *';
  color: red;
}

:host ::ng-deep .text-invalid {
  color: #FF0000;
}
