<div class="ml-5">
  <p [style.word-spacing]="'6px'">Home / Pagamenti / <strong [style.word-spacing]="'normal'">I Miei Pagamenti</strong></p>
  <h3 class="mb-2 page-title"><strong>I Miei Pagamenti</strong>
    <a it-tooltip="{{tooltipOnPageTitle}}">
      <svg class="bg-light icon icon-lg icon-padded">
        <use xlink:href="assets/img/sprite.svg#it-help-circle"></use>
      </svg>
    </a>
  </h3>

  <!-- Sottosezione Filtri -->
  <div class="row subsection-title">
    <div class="col-xs-5 pt-4">
      <p class="title page-subtitle">Filtri</p>
    </div>
    <div class="col-xs-4 mb-3">
      <svg class="bg-light icon" [style.fill]="'#004987'"
           data-toggle="collapse" data-target="#contenutoSezioneFiltri"
           aria-expanded="true" aria-controls="contenutoSezioneFiltri"
           (click)="showHideSubsection('filtri')">
        <use [attr.xlink:href]="displayArrow(isSubsectionFiltriVisible)" xlink:href=""></use>
      </svg>
    </div>
  </div>
  <div id="contenutoSezioneFiltri" class="collapse show">
    <!-- Livello Territoriale, Ente, Servizio -->
    <div class="row" [style.margin]="'3%'">
      <div class="col-md-4 pb-2">
        <div class="row">
          <label for="selectLivelloTerritoriale" class="title">Livello territoriale</label>
        </div>
        <div class="row">
          <select [style.width]="'80%'" id="selectLivelloTerritoriale" [(ngModel)]="livelloTerritorialeSelezionato">
            <option *ngFor="let item of listaLivelliTerritoriali" [value]="item.value">{{item.label}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 pb-2">
        <div class="row">
          <label for="selectEnte" class="title">Ente</label>
        </div>
        <div class="row">
          <select [style.width]="'80%'" id="selectEnte" [(ngModel)]="enteSelezionato">
            <option *ngFor="let item of listaEnti" [value]="item.value">{{item.label}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <label for="selectServizio" class="title">Servizio</label>
        </div>
        <div class="row">
          <select [style.width]="'80%'" id="selectServizio" [(ngModel)]="servizioSelezionato">
            <option *ngFor="let item of listaServizi" [value]="item.value">{{item.label}}</option>
          </select>
        </div>
      </div>
    </div>
    <!-- Documento, Data Inizio, Data Fine, Testo Libero -->
    <div class="row" [style.margin]="'3%'">
      <div class="col-md-4 pb-2">
        <div class="row">
          <label for="inputDocumento" class="title">Documento</label>
        </div>
        <div class="row">
          <input type="text" class="input-text pt-0" id="inputDocumento" aria-describedby="inputDocumentoHelpDescription"/>
        </div>
        <div class="row">
          <small id="inputDocumentoHelpDescription" class="form-text text-muted">inserisci testo</small>
        </div>
      </div>
      <div class="col-md-2 pb-2">
        <div class="row">
          <label for="dataDa" class="title">Da</label>
        </div>
        <div class="row calendar">
          <svg class="bg-light icon img-datepicker" [style.cursor]="'pointer'" (click)="da.toggle()">
            <use xlink:href="assets/img/sprite.svg#it-calendar"></use>
          </svg>
          <input type="text" class="input-text pt-0" id="dataDa" aria-describedby="inputDataDaHelpDescription"
                 [style.padding-left]="'35px'" autocomplete="off" ngbDatepicker #da="ngbDatepicker"/>
        </div>
        <div class="row">
          <small id="inputDataDaHelpDescription" class="form-text text-muted">inserisci data</small>
        </div>
      </div>
      <div class="col-md-2 pb-2">
        <div class="row">
          <label for="dataA" class="title">A</label>
        </div>
        <div class="row calendar">
          <svg class="bg-light icon img-datepicker" [style.cursor]="'pointer'" (click)="a.toggle()">
            <use xlink:href="assets/img/sprite.svg#it-calendar"></use>
          </svg>
          <input type="text" class="input-text pt-0" id="dataA" aria-describedby="inputDataAHelpDescription"
                 [style.padding-left]="'35px'" autocomplete="off" ngbDatepicker #a="ngbDatepicker"/>
        </div>
        <div class="row">
          <small id="inputDataAHelpDescription" class="form-text text-muted">inserisci data</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <label for="inputTestoLibero" class="title">Testo libero</label>
        </div>
        <div class="row">
          <input type="text" class="input-text pt-0" id="inputTestoLibero" aria-describedby="inputTestoLiberoHelpDescription"/>
        </div>
        <div class="row">
          <small id="inputTestoLiberoHelpDescription" class="form-text text-muted">inserisci testo</small>
        </div>
      </div>
    </div>
    <!-- Bottoni Pulisci e Cerca -->
    <div class="row">
      <div class="col-6">
        <button id="bottonePulisci" class="btn btn-secondary">Pulisci</button>
      </div>
      <div class="col-6" style="text-align: right; margin-left: -6%">
        <button id="bottoneCerca" class="btn">Cerca</button>
      </div>
    </div>
  </div>

  <!-- Sottosezione Lista Pagamenti -->
  <div class="row subsection-title">
    <div class="col-xs-5 pt-4">
      <p class="title page-subtitle">Lista Pagamenti</p>
    </div>
    <div class="col-xs-4 mb-3">
      <svg class="bg-light icon" [style.fill]="'#004987'"
           data-toggle="collapse" data-target="#contenutoSezioneListaPagamenti"
           aria-expanded="true" aria-controls="contenutoSezioneListaPagamenti"
           (click)="showHideSubsection('listaPagamenti')">
        <use [attr.xlink:href]="displayArrow(isSubsectionListaPagamentiVisible)" xlink:href=""></use>
      </svg>
    </div>
  </div>
  <div id="contenutoSezioneListaPagamenti" class="collapse show">
    <p>Contenuto Sezione Lista Pagamenti</p>
  </div>
</div>
