<div class="ml-5">
  <p [style.word-spacing]="'6px'">Home / Pagamenti / <strong [style.word-spacing]="'normal'">I Miei Pagamenti</strong></p>
  <h3 class="mb-2 page-title"><strong>I Miei Pagamenti</strong>
    <a it-tooltip="{{tooltipOnPageTitle}}">
      <svg class="bg-light icon icon-lg icon-padded">
        <use xlink:href="assets/img/sprite.svg#it-help-circle"></use>
      </svg>
    </a>
  </h3>

  <div class="row subsection-title">
    <div class="col-11 pt-4">
      <p class="title page-subtitle" (click)="showHideSubsection()">Filtri</p>
    </div>
    <div class="col-1 mb-3 pl-5">
      <svg class="bg-light icon icon-primary" (click)="showHideSubsection()">
        <use [attr.xlink:href]="displayArrow()" xlink:href=""></use>
      </svg>
    </div>
  </div>
  <div *ngIf="isVisible"[style.margin]="'3%'">
    <!-- Livello Territoriale, Ente, Servizio -->
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <label for="selectLivelloTerritoriale" class="title">Livello territoriale</label>
        </div>
        <div class="row">
          <select [style.width]="'80%'" id="selectLivelloTerritoriale" [(ngModel)]="livelloTerritorialeSelezionato">
            <option *ngFor="let item of listaLivelliTerritoriali" [value]="item.value">{{item.label}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <label for="selectEnte" class="title">Ente</label>
        </div>
        <div class="row">
          <select [style.width]="'80%'" id="selectEnte" [(ngModel)]="enteSelezionato">
            <option *ngFor="let item of listaEnti" [value]="item.value">{{item.label}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <label for="selectServizio" class="title">Servizio</label>
        </div>
        <div class="row">
          <select [style.width]="'80%'" id="selectServizio" [(ngModel)]="servizioSelezionato">
            <option *ngFor="let item of listaServizi" [value]="item.value">{{item.label}}</option>
          </select>
        </div>
      </div>
    </div>
    <!-- Documento, Data Inizio, Data Fine, Testo Libero -->
    <div class="row py-3">
      <div class="col-md-4">
        <div class="row">
          <label for="inputDocumento" class="title">Documento</label>
        </div>
        <div class="row">
          <input type="text" class="input-text pt-0" id="inputDocumento" aria-describedby="inputDocumentoHelpDescription"/>
          <small id="inputDocumentoHelpDescription" class="form-text text-muted">inserisci testo</small>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <label for="dataDa" class="title">Da</label>
        </div>
        <div class="row">
          <div class="input-group">
            <div (click)="d.toggle()" [style.border-bottom]="'1px solid #5c6f82'">
              <svg class="bg-light icon">
                <use xlink:href="assets/img/sprite.svg#it-calendar"></use>
              </svg>
            </div>
            <div class="input-group-append">
              <input type="text" class="input-text pt-0" id="dataDa" aria-describedby="inputDataDaHelpDescription"
                     ngbDatepicker #d="ngbDatepicker" autocomplete="off"/>
            </div>
            <small id="inputDataDaHelpDescription" class="form-text text-muted">inserisci data</small>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <label for="dataA" class="title">A</label>
        </div>
        <div class="row">
          <div class="input-group">
            <div (click)="d.toggle()" [style.border-bottom]="'1px solid #5c6f82'">
              <svg class="bg-light icon">
                <use xlink:href="assets/img/sprite.svg#it-calendar"></use>
              </svg>
            </div>
            <div class="input-group-append">
              <input type="text" class="input-text pt-0" id="dataA" aria-describedby="inputDataAHelpDescription"
                     ngbDatepicker #d="ngbDatepicker" autocomplete="off"/>
            </div>
            <small id="inputDataAHelpDescription" class="form-text text-muted">inserisci data</small>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <label for="inputTestoLibero" class="title">Testo libero</label>
        </div>
        <div class="row">
          <input type="text" class="input-text pt-0" id="inputTestoLibero" aria-describedby="inputTestoLiberoHelpDescription"/>
          <small id="inputTestoLiberoHelpDescription" class="form-text text-muted">inserisci testo</small>
        </div>
      </div>
    </div>
  </div>
</div>
