<div class="ml-3">
  <form #accessoForm="ngForm">

    <div class="row mt-4 mb-0">

      <div class="col-md-4 pb-2">
        <div class="row">
          <div class="col">
            <label for="" class="title">Nome</label>
          </div>
        </div>
        <div class="row">
          <div class="col">

          </div>
        </div>
      </div>

      <div class="col-md-4 pb-2">
        <div class="row">
          <div class="col">
            <label for="" class="title">Telefono</label>
          </div>
        </div>
        <div class="row">
          <div class="col">

          </div>
        </div>
      </div>

      <div class="col-md-4 pb-2">
        <div class="row">
          <div class="col">
            <label for="" class="title">Telefono</label>
          </div>
        </div>
        <div class="row">
          <div class="col">

          </div>
        </div>
      </div>

    </div>

    <div class="row mt-4 mb-0">

      <div class="col-md-4 pb-2">
        <div class="row">
          <div class="col">
            <label for="" class="title">Telefono</label>
          </div>
        </div>
        <div class="row">
          <div class="col">

          </div>
        </div>
      </div>

      <div class="col-md-4 pb-2">
        <div class="row">
          <div class="col">
            <label for="" class="title">Telefono</label>
          </div>
        </div>
        <div class="row">
          <div class="col">

          </div>
        </div>
      </div>

      <div class="col-md-4 pb-2">
        <div class="row">
          <div class="col">
            <label for="" class="title">Telefono</label>
          </div>
        </div>
        <div class="row">
          <div class="col">

          </div>
        </div>
      </div>

    </div>

  </form>
</div>
