.required:after {
  content: ' *';
  color: red;
}

.text-invalid {
  color: #FF0000;
}

.disabled {
  pointer-events: none;
  background-color: #e3e3e3;
}

/*prime ng font component*/
:host ::ng-deep .p-component{
  font-family: "Titillium Web", Geneva,Tahoma,sans-serif;
  font-size: 12px;
}
