<!-- Sottotitolo -->
<div class="collapse-header" id="idCollapseFiltri">
  <button data-toggle="collapse" data-target="#contenutoSezioneFiltri" aria-expanded="true"
          aria-controls="contenutoSezioneFiltri">
    Filtri
  </button>
</div>

<!-- Form filtri -->
<form #filtroForm="ngForm">
  <div id="contenutoSezioneFiltri" class="collapse show" role="tabpanel" aria-labelledby="idCollapseFiltri">
    <div class="collapse-body">
      <!-- Filtri -->
      <div class="row mt-2 mb-0">
        <div class="col-xs-6 col-md-4 col-lg-3 pb-2">
          <div class="row">
            <div class="col">
              <label for="servizio" class="title">Servizio</label>
            </div>
          </div>
          <div class="row">
            <select id="servizio" name="servizio"
                    #servizio="ngModel" [(ngModel)]="filtriRicerca.servizioId">
              <option [ngValue]="null" [selected]="true">Tutti</option>
              <option *ngFor="let item of listaServizi" [ngValue]="item.id">{{item.nome}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 pb-2">
          <div class="row">
            <div class="col">
              <label for="selectRaggruppamento" class="title">Raggruppamento</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <select id="selectRaggruppamento" name="raggruppamento"
                      #filtroRaggruppamento="ngModel"
                      [(ngModel)]="filtriRicerca.raggruppamentoId">
                <option [ngValue]="null" selected>Tutti</option>
                <option *ngFor="let item of opzioniRaggruppamento" [ngValue]="item.id">{{item.nome}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
          <div class="row">
            <div class="col">
              <label for="selectEnteImpositore" class="title">Ente Impositore</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <select id="selectEnteImpositore" name="selectEnteImpositore"
                      #enteImpositoreInput="ngModel" [(ngModel)]="filtriRicerca.enteImpositoreId">
                <option [ngValue]="null" [selected]="true">Tutti</option>
                <option *ngFor="let item of listaEntiImpositore" [ngValue]="item.id">{{item.nome}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
          <div class="row">
            <div class="col">
              <label for="selectEnteBenef" class="title">Ente Beneficiario</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <select id="selectEnteBenef" name="enteIdBenef"
                      #enteBenefInput="ngModel" [(ngModel)]="filtriRicerca.enteBeneficiarioId">
                <option [ngValue]="null" [selected]="true">Tutti</option>
                <option *ngFor="let item of listaEntiBeneficiario" [ngValue]="item.id">{{item.nome}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-2">
          <div class="row">
            <div class="col">
              <label for="inputCodice" class="title">Tipologia Servizio</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p-autoComplete id="inputCodice" class="pt-0" name="codice"
                              #filtroCodice="ngModel" [size]="100"
                              [(ngModel)]="filtriRicerca.tipologiaServizio"
                              [field]="labelOggettoTipologia"
                              [suggestions]="listaCodiciTipologiaFiltrati"
                              (completeMethod)="filtraCodiciTipologia($event)"
                              delay="0" autoHighlight="true"
                              placeholder="Tutti">
              </p-autoComplete>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 pb-2">
          <div class="row">
            <div class="col">
              <label [htmlFor]="'livelloIntegrazione'" class="title form-elem-title"
              >Livello di Integrazione</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <select
                id="livelloIntegrazione"
                name="livelloIntegrazione"
                [(ngModel)]="filtriRicerca.livelloIntegrazioneId"
                #livelloIntegrazione="ngModel">
                <option [ngValue]="null" [selected]="true">Tutti</option>
                <option *ngFor="let item of listaLivelloIntegrazione" [ngValue]="item.id">{{item.nome}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3 pb-2">
          <div class="row">
            <div class="col">
              <label for="scadenzaDataDa" class="title">Abilita Da</label>
            </div>
          </div>
          <div class="row">
            <div class="col calendar-wrapper">
              <svg class="bg-light icon img-calendar" (click)="openDatepicker(datePickerScadenzaDa)">
                <use xlink:href="assets/img/sprite.svg#it-calendar"></use>
              </svg>
              <dp-date-picker
                class="col-12"
                mode="day"
                id="scadenzaDataDa"
                theme="dp-material"
                [config]="{
              locale: 'it',
              format: 'DD/MM/YYYY',
              firstDayOfWeek: 'mo',
              showGoToCurrent: false,
              openOnClick: isCalendarOpen,
              openOnFocus: false,
              min: minDateDDMMYY,
              returnedValueType: tipoData
	          }"
                #scadenzaDaInput="ngModel"
                [(ngModel)]="filtriRicerca.abilitaDa"
                name="abilitaDa"
                #datePickerScadenzaDa
                (click)="isCalendarOpen = false"
              ></dp-date-picker>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3 pb-2">
          <div class="row">
            <div class="col">
              <label for="scadenzaDataA" class="title">Abilita A</label>
            </div>
          </div>
          <div class="row">
            <div class="col calendar-wrapper">
              <svg class="bg-light icon img-calendar" (click)="openDatepicker(datePickerScadenzaA)">
                <use xlink:href="assets/img/sprite.svg#it-calendar"></use>
              </svg>
              <dp-date-picker
                class="col-12"
                mode="day"
                id="scadenzaDataA"
                theme="dp-material"
                [config]="{
              locale: 'it',
              format: 'DD/MM/YYYY',
              firstDayOfWeek: 'mo',
              showGoToCurrent: false,
              openOnClick: isCalendarOpen,
              openOnFocus: false,
              min: minDateDDMMYY,
              returnedValueType: tipoData
            }"
                #scadenzaAInput="ngModel"
                [(ngModel)]="filtriRicerca.abilitaA"
                name="abilitaA"
                #datePickerScadenzaA
                (click)="isCalendarOpen = false"
              ></dp-date-picker>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-1 pb-2">
          <div class="row">
            <div class="col">
              <label for="switchAttivo" class="title">Attivo</label>
            </div>
          </div>
          <div class="row">
            <it-toggle id="switchAttivo" [(ngModel)]="filtriRicerca.attivo"
                       name="attivo"></it-toggle>
          </div>
        </div>
      </div>
      <!-- Bottoni-->
      <div class="row">
        <div class="col-6">
          <button id="bottonePulisci" class="btn btn-secondary"
                  (click)="pulisciFiltri(filtroForm)">Pulisci
          </button>
        </div>
        <div class="col-6 btn-find">
          <button id="bottoneCerca" class="btn"
                  (click)="cercaElementi()">Cerca
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
