<div class="container-fluid">
  <div class="row main-header">
    <div class="col-xl-2 col-lg-2 col-md-0 col-sm-0"></div>
    <div [style.color]="'white'" class="col-xl-8 col-lg-8 col-md-9 col-sm-9 mt-3 ml-lg-5 ml-md-3 ml-sm-3 pl-lg-5 font-msg">Lepida ScpA</div>
    <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 font-msg align-middle">
      <button id="payButton" type="button" class="btn btn-outline-secondary">Accedi</button>
    </div>
  </div>
</div>
<div class="wrapper">
  <app-header></app-header>
  <div class="main-panel font-color">
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent bg-force">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <span class="navbar-brand">{{ title }}</span>
        </div>
      </div>
    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
