.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f6f6;
}

.header, .banner {
  position: sticky;
  z-index: 3;
}

.header {
  top: 0;
}

.main-panel {
  flex-grow: 1;
}

.banner {
  top: 15vh;
}

:host::ng-deep .dp-picker-input {
  width: 100% !important;
  padding-left: 35px;
}

:host::ng-deep .dp-popup {
  z-index: 2;
}
