<div class="wrapper">
  <app-overlay *ngIf="mostraModale">
    <ng-template>
      <ng-container *ngIf="datiPagamento">
        <app-nuovo-pagamento [filtroPagamento]="false" [datiPagamento]="datiPagamento"></app-nuovo-pagamento>
      </ng-container>
      <ng-container *ngIf="tipologiaServizio">
        <app-modale-campo-form [tipologiaServizio]="tipologiaServizio"></app-modale-campo-form>
        <ng-container *ngIf="idFunzione">
          <app-overlay>
            <ng-template>
              <app-modale-aggiungi-tipo-campo [idFunzione]="idFunzione"></app-modale-aggiungi-tipo-campo>
            </ng-template>
          </app-overlay>
        </ng-container>
      </ng-container>
    </ng-template>
  </app-overlay>
  <app-login-bar></app-login-bar>
  <app-sidebar></app-sidebar>
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="main-panel font-color">
    <div class="content">
      <div class="banner">
        <app-banner></app-banner>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>
