.required:after {
  content: ' *';
  color: red;
}

.text-invalid {
  color: #FF0000;
}

.bottone-campo {
  cursor: pointer;
  margin-left: 10px;
}

.filled {
  fill: #004987;
}

select:disabled {
  opacity: 1;
  color: #66615B;
  font-weight: 700;
}
