<h1>Gestisci Campi di Tipologia servizio</h1>
<div class="row">
  <ul class="legend">
    <li><span class="field-disabled"></span> Campo disabilitato</li>
    <li><span class="field-input"></span> Campo input</li>
    <li><span class="field-output"></span> Campo output</li>
    <li><span class="required"></span> Campo obbligatorio</li>
    <li><span class="key"></span> Campo chiave</li>
  </ul>
</div>

<div class="row">
  <button class="btn" (click)="add()">Aggiungi campo</button>
</div>

<div *ngIf="!waiting" class="row" cdkDropListGroup>

  <ng-container *ngFor="let item of items;let i=index">
    <div [ngClass]="calcolaDimensioneCampo(item)" cdkDropList
         cdkDropListOrientation="horizontal"
         [cdkDropListData]="{item:item, index:i}" (cdkDropListDropped)="dropEvt($event)">
      <div style="min-height: 5vh;"
        [ngClass]="{'example-box':true, 'col-12': true, 'disabled': item.disabilitato, 'field-input': (item.campo_input && !item.disabilitato), 'field-output': item.jsonPath}"
        cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div class="row" style="width: 100%">
          <div (click)="showModal(item)" *ngIf="showEditId !== item.id" (dblclick)="showEditId = item.id"
               class="col-7 text-right">{{item.titolo}}</div>
          <div *ngIf="showEditId == item.id" class="col-6 text-right"><input autofocus (keyup.enter)="showEditId = null"
                                                                             [(ngModel)]="item.titolo"/></div>
          <div class="col-1"><span [class]="{'required':item.obbligatorio}"></span></div>
          <div class="col-1"><span [class]="{'key':item.chiave}"></span></div>
          <div class="col-3 text-right">
            <span class="close" (click)="removeItem(item)"></span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</div>
