.section-row {
  margin: 3%;
}

.form-elem {
  width: 80%;
}

.input-disabled {
  pointer-events: none;
  border: 1px solid #CCCCCC;
  background-color: #CCCCCC;
}

.input-text {
  background-color: transparent;
  height: auto;
  font-weight: normal;
}

.img-calendar {
  position: absolute;
  top: 21.9%;
  fill: #77777B;
  cursor: pointer;
  background: transparent !important;
  border-bottom: 1px solid grey;
}

:host::ng-deep dp-date-picker.dp-material .dp-picker-input {
  width: 72%;
  margin-left: 21%;
}

.btn-find {
  text-align: right;
  margin-left: -6%;
}

.btn {
  height: 42px;
}
