<span>Tutti i campi contrassegnati con * sono obbligatori</span>
<div class="ml-3">
  <form #datiUtenteForm="ngForm">
    <div class="row mt-4 mb-0">
      <div class="col-md-4 pb-2">
        <div class="row">
          <div class="col">
            <label for="codiceFiscaleId" class="title required">Codice fiscale</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p-autoComplete id="codiceFiscaleId" class="input-text pt-0" name="codiceFiscale" aria-describedby="codiceFiscaleIdHelpDescription"
                            pattern="^[A-Za-z]{6}[0-9]{2}[A-Za-z]{1}[0-9]{2}[A-Za-z]{1}[0-9]{3}[A-Za-z]{1}$" required
                            #codicefiscaleinput = "ngModel" [(ngModel)]="codiceFiscale"
                            [suggestions]="listaCodiciFiscali" (completeMethod)="loadSuggestions($event)"
                            (onClear)="clearAutocompleteCodiceFiscale()" (ngModelChange)="onChangeModel()"
                            [minLength]="minCharsToRetrieveCF" maxlength="16" delay="0" autoHighlight="true">
            </p-autoComplete>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p *ngIf="!codiceFiscaleExists || codiceFiscale.length < 16" [ngClass]="{'text-muted': !isCampoInvalido(codicefiscaleinput), 'text-invalid': isCampoInvalido(codicefiscaleinput)}">
              {{setPlaceholder(codicefiscaleinput, 'string')}}
            </p>
            <p *ngIf="codiceFiscaleExists && codiceFiscale.length === 16" class="text-invalid">Attenzione! L'utente è già presente</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-2">
        <div class="row">
          <div class="col">
            <label for="nomeUtente" class="title">Nome</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" id="nomeUtente" name="nome" #nomeInput="ngModel" aria-describedby="nomeUtenteHelpDescription"
                   [(ngModel)]="datiUtente.nome" (ngModelChange)="onChangeModel()"
                   class="input-text pt-0" autocomplete="off">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p [ngClass]="{'text-muted': !isCampoInvalido(nomeInput), 'text-invalid': isCampoInvalido(nomeInput)}">
              {{setPlaceholder(nomeInput, 'string')}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col">
            <label for="cognomeUtente" class="title">Cognome</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" id="cognomeUtente" name="cognome" #cognomeInput="ngModel" aria-describedby="cognomeUtenteHelpDescription"
                   [(ngModel)]="datiUtente.cognome" (ngModelChange)="onChangeModel()"
                   class="input-text pt-0" autocomplete="off">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p [ngClass]="{'text-muted': !isCampoInvalido(cognomeInput), 'text-invalid': isCampoInvalido(cognomeInput)}">
              {{setPlaceholder(cognomeInput, 'string')}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4 mb-0">
      <div class="col-md-4 pb-2">
        <div class="row">
          <div class="col">
            <label for="emailUtente" class="title">E-mail</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="email" id="emailUtente" name="email" #emailInput="ngModel"
                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                   [(ngModel)]="datiUtente.email" (ngModelChange)="onChangeModel()"
                   class="input-text pt-0" autocomplete="off" aria-describedby="emailUtenteHelpDescription">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p [ngClass]="{'text-muted': !isCampoInvalido(emailInput), 'text-invalid': isCampoInvalido(emailInput)}">
              {{setPlaceholder(emailInput, 'email')}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-2">
        <div class="row">
          <div class="col">
            <label for="telefonoUtente" class="title">Telefono</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" id="telefonoUtente" name="telefono" #telefonoInput="ngModel"
                   pattern="^[(+|[0-9]]*[0-9]{0,14}$"
                   [(ngModel)]="datiUtente.telefono" (ngModelChange)="onChangeModel()"
                   class="input-text pt-0" autocomplete="off" aria-describedby="telefonoUtenteHelpDescription">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p [ngClass]="{'text-muted': !isCampoInvalido(telefonoInput), 'text-invalid': isCampoInvalido(telefonoInput)}">
              {{setPlaceholder(telefonoInput, 'string')}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 pb-2">
        <div class="row">
          <div class="col">
            <label for="attivazione" class="title">Attivazione</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <svg class="bg-light icon img-calendar" (click)="openDatepicker(datePickerAttivazione)">
              <use xlink:href="assets/img/sprite.svg#it-calendar"></use>
            </svg>
            <dp-date-picker
              mode="day"
              id="attivazione"
              theme="dp-material"
              [config]="{
                locale: 'it',
                format: 'DD/MM/YYYY',
                firstDayOfWeek: 'mo',
                showGoToCurrent: false,
                openOnClick: isCalendarOpen,
                openOnFocus: false,
                min: minDateDDMMYYYY,
                max: setMaxDate(datePickerScadenza),
                returnedValueType: tipoData
              }"
              #attivazioneInput = "ngModel"
              [(ngModel)]="datiUtente.attivazione"
              name="attivazione"
              #datePickerAttivazione
              (click)="isCalendarOpen = false"
              (onSelect)="onChangeModel()"
            ></dp-date-picker>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p [ngClass]="{'text-muted': !isCampoInvalido(attivazioneInput), 'text-invalid': isCampoInvalido(attivazioneInput)}">
              {{setPlaceholder(attivazioneInput, 'date')}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 pb-2">
        <div class="row">
          <div class="col">
            <label for="scadenza" class="title">Scadenza</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <svg class="bg-light icon img-calendar" (click)="openDatepicker(datePickerScadenza)">
              <use xlink:href="assets/img/sprite.svg#it-calendar"></use>
            </svg>
            <dp-date-picker
              mode="day"
              id="scadenza"
              theme="dp-material"
              [config]="{
                locale: 'it',
                format: 'DD/MM/YYYY',
                firstDayOfWeek: 'mo',
                showGoToCurrent: false,
                openOnClick: isCalendarOpen,
                openOnFocus: false,
                min: setMinDate(datePickerAttivazione),
                returnedValueType: tipoData
              }"
              #scadenzaInput = "ngModel"
              [(ngModel)]="datiUtente.scadenza"
              name="scadenza"
              #datePickerScadenza
              (click)="isCalendarOpen = false"
              (onSelect)="onChangeModel()"
            ></dp-date-picker>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p [ngClass]="{'text-muted': !isCampoInvalido(scadenzaInput), 'text-invalid': isCampoInvalido(scadenzaInput)}">
              {{setPlaceholder(scadenzaInput, 'date')}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
