.dynamic-form-elem {
  margin-top: 20px;
}

.form-elem-date-col {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.placeholder {
  color: #77777B;
  padding-left: 5px;
}

.form-elem-date-separator {
  padding-left: 5px;
  padding-right: 5px;
}

.form-elem-date-select {
  position: relative;
  bottom: 2px;
  padding-left: 10px;
}

#bottoneProcedi, #bottonePagaOra {
  min-height: 42px;
}

@media screen and (max-width: 510px) {
  .button-space {
    padding: 0;
  }
}
