<div class="ml-3">
  <form #datiForm="ngForm">
    <!--    inizio Titolo -->
    <div class="row mt-4 mb-0">
      <!--    inizio Titolo -->
      <div class="col-md-4 pb-2">
        <div class="row">
          <div class="col">
            <label for="titolo" class="title ">
              Titolo</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" id="titolo" name="titolo" #titolo="ngModel"
                   [(ngModel)]="datiStatistica.titolo" [required]="funzione !== FunzioneGestioneEnum.DETTAGLIO"
                   class="pt-0" autocomplete="off" aria-describedby="nomeHelpDescription"
                   [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
                   (ngModelChange)="onChangeModel(datiForm, titolo)">
          </div>
        </div>
        <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
          <div class="col">
            <p *ngIf="!isCampoInvalido(titolo)">Inserisci titolo statistica</p>
            <p *ngIf="isCampoInvalido(titolo)" class="text-invalid">{{getMessaggioErrore(titolo)}}</p>
          </div>
        </div>
      </div>
      <!--      fine Titolo -->
    </div>
    <!--    fine Titolo -->
    <!--    inizio Descrizione, Logo -->
    <div class="row mt-4 mb-0">
      <!--    inizio Descrizione -->
      <div class="col-md-6 pb-2">
        <div class="row">
          <div class="col">
            <label for="descrizione" class="title ">
              Descrizione</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
             <textarea
               id="descrizione"
               type="text"
               name="descrizione"
               autocomplete="off"
               #descrizione="ngModel"
               [(ngModel)]="datiStatistica.descrizione"
               (ngModelChange)="onChangeModel(datiForm, descrizione)"
               maxlength="255"
               [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
               class="textArea"
             ></textarea>
          </div>
        </div>
        <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
          <div class="col">
            <p *ngIf="!isCampoInvalido(descrizione)">Inserisci descrizione statistica</p>
            <p *ngIf="isCampoInvalido(descrizione)" class="text-invalid">{{getMessaggioErrore(descrizione)}}</p>
          </div>
        </div>
      </div>
      <!--      fine Descrizione -->
      <!--    inizio Query SQL -->
      <div class="col-md-6 pb-2">
        <div class="row">
          <div class="col">
            <label for="querySql" class="title ">
              Query SQL</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
             <textarea
               id="querySql"
               type="text"
               name="querySql"
               autocomplete="off"
               #querySql="ngModel"
               [(ngModel)]="datiStatistica.querySql"
               (ngModelChange)="onChangeModel(datiForm, querySql)"
               maxlength="4000"
               [required]="funzione !== FunzioneGestioneEnum.DETTAGLIO"
               [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
               class="textArea"
             ></textarea>
          </div>
        </div>
        <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
          <div class="col">
            <p *ngIf="!isCampoInvalido(querySql)">Inserisci query SQL</p>
            <p *ngIf="isCampoInvalido(querySql)" class="text-invalid">{{getMessaggioErrore(querySql)}}</p>
          </div>
        </div>
      </div>
      <!--      fine Query SQL -->
    </div>
    <!--    fine Decrizione, Logo -->
    <!--    inizio Destinatari, Schedulazione -->
    <div class="row mt-4 mb-0">
      <!--    inizio Destinatari -->
      <div class="col-md-6 pb-2">
        <div class="row">
          <div class="col-auto pr-1">
            <label for="destinatari" class="title ">
              Destinatari (indirizzi E-mail)</label>
          </div>
          <div class="col-auto">
            <span ngbTooltip="Inserisci destinatario" placement="bottom" [ngStyle]="{fill: '#403d39'}">
            <svg class="bg-light icon icon-sm filled"
                 (click)="aggiungiDestinatario()"
                 disabled="{{funzione === FunzioneGestioneEnum.DETTAGLIO}}">
              <use xlink:href="assets/img/sprite.svg#it-plus"></use>
            </svg>
              </span>
          </div>
        </div>
        <div id="destinatari" *ngFor="let destinatario of datiStatistica.destinatari, index as index">
          <div class="row">
            <div class="col-10">
              <input type="text" id="{{'destinatario' + index}}" name="{{'destinatario' + index}}"
                     class="pt-0" autocomplete="off" aria-describedby="destinatarioHelpDescription"
                     [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
                     [(ngModel)]="destinatario.email"
                     #destinatario="ngModel"
                     (ngModelChange)="onChangeModel(datiForm, destinatario)">
            </div>
            <div class="col-2 align-self-center">
              <span ngbTooltip="Elimina destinatario" placement="bottom" [ngStyle]="{fill: '#403d39'}">
            <svg class="bg-light icon icon-sm filled"
                 (click)="eliminaDestinatario(index)"
                 disabled="{{funzione === FunzioneGestioneEnum.DETTAGLIO}}">
              <use xlink:href="assets/img/sprite.svg#it-close"></use>
            </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!--      fine Destinatari -->
      <!--    inizio Schedulazione -->
      <div class="col-md-6 pb-2">
        <div class="collapse-header" id="heading">
          <button data-toggle="collapse" data-target="#contenutoSchedulazione" aria-expanded="true"
                  aria-controls="contenutoSchedulazione">
            Schedulazione
          </button>
        </div>
        <div id="contenutoSchedulazione" class="collapse show" role="tabpanel" aria-labelledby="heading">
          <div class="collapse-body">
            <!--        inizio Date -->
            <div class="row pt-4">
              <!--          inizio Inizio schedulazione -->
              <div class="col-6">
                <div class="row">
                  <div class="col">
                    <label for="inizioSchedulazione" class="title ">
                      Inizio schedulazione</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col calendar-wrapper">
                    <svg class="bg-light icon img-calendar" (click)="openDatepicker(datePickerInizioSchedulazione)">
                      <use xlink:href="assets/img/sprite.svg#it-calendar"></use>
                    </svg>
                    <dp-date-picker
                      mode="day"
                      id="inizioSchedulazione"
                      theme="dp-material"
                      [config]="{
              locale: 'it',
              format: 'DD/MM/YYYY',
              firstDayOfWeek: 'mo',
              showGoToCurrent: false,
              openOnClick: isCalendarOpen,
              openOnFocus: false,
              min: minDateDDMMYYYY,
              returnedValueType: tipoData
	          }"
                      #inizioSchedulazione="ngModel"
                      [(ngModel)]="datiStatistica.schedulazione.inizioSchedulazione"
                      name="inizioSchedulazione"
                      #datePickerInizioSchedulazione
                      (click)="isCalendarOpen = false"
                    ></dp-date-picker>
                  </div>
                </div>
                <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
                  <div class="col">
                    <p *ngIf="!isCampoInvalido(inizioSchedulazione)">Inserisci data fine schedulazione</p>
                    <p *ngIf="isCampoInvalido(inizioSchedulazione)"
                       class="text-invalid">{{getMessaggioErrore(inizioSchedulazione)}}</p>
                  </div>
                </div>
              </div>
              <!--        fine Inizio schedulazione-->
              <!--          inizio Fine schedulazione -->
              <div class="col-6">
                <div class="row">
                  <div class="col">
                    <label for="fineSchedulazione" class="title ">
                      Fine schedulazione</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col calendar-wrapper">
                    <svg class="bg-light icon img-calendar" (click)="openDatepicker(datePickerFineSchedulazione)">
                      <use xlink:href="assets/img/sprite.svg#it-calendar"></use>
                    </svg>
                    <dp-date-picker
                      mode="day"
                      id="fineSchedulazione"
                      theme="dp-material"
                      [config]="{
              locale: 'it',
              format: 'DD/MM/YYYY',
              firstDayOfWeek: 'mo',
              showGoToCurrent: false,
              openOnClick: isCalendarOpen,
              openOnFocus: false,
              min: minDateDDMMYYYY,
              returnedValueType: tipoData
	          }"
                      #fineSchedulazione="ngModel"
                      [(ngModel)]="datiStatistica.schedulazione.fineSchedulazione"
                      name="fineSchedulazione"
                      #datePickerFineSchedulazione
                      (click)="isCalendarOpen = false"
                    ></dp-date-picker>
                  </div>
                </div>
                <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
                  <div class="col">
                    <p *ngIf="!isCampoInvalido(fineSchedulazione)">Inserisci data inizio schedulazione</p>
                    <p *ngIf="isCampoInvalido(fineSchedulazione)"
                       class="text-invalid">{{getMessaggioErrore(fineSchedulazione)}}</p>
                  </div>
                </div>
              </div>
              <!--        fine Fine schedulazione-->
            </div>
            <!--        fine Date-->
            <!--        inizio Schedulazione Principale -->
            <div class="row mt-2">
              <!-- Sottotitolo Schedulazione principale-->
              <div class="col">
                <div class="collapse-header" id="heading1">
                  <button data-toggle="collapse" data-target="#contenutoSchedulazionePrincipale" aria-expanded="true"
                          aria-controls="contenutoSchedulazionePrincipale">
                    Schedulazione principale
                  </button>
                </div>
                <div id="contenutoSchedulazionePrincipale" class="collapse show" role="tabpanel"
                     aria-labelledby="heading1">
                  <div class="collapse-body">
                    <!--                inizio Ora, Minuti, Secondi -->
                    <div class="row mt-2">
                      <!--    inizio Ora -->
                      <div class="col-md-4 pb-2">
                        <div class="row">
                          <div class="col">
                            <label for="ora" class="title ">
                              Ora</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" id="ora" name="ora" #ora="ngModel"
                                   [(ngModel)]="datiStatistica.schedulazione.ora"
                                   class="pt-0" autocomplete="off" aria-describedby="oraHelpDescription"
                                   [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
                                   (ngModelChange)="onChangeModel(datiForm, ora)">
                          </div>
                        </div>
                        <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
                          <div class="col">
                            <p *ngIf="!isCampoInvalido(ora)">Inserisci ora</p>
                            <p *ngIf="isCampoInvalido(ora)" class="text-invalid">{{getMessaggioErrore(ora)}}</p>
                          </div>
                        </div>
                      </div>
                      <!--      fine Ora -->
                      <!--    inizio Minuti -->
                      <div class="col-md-4 pb-2">
                        <div class="row">
                          <div class="col">
                            <label for="minuti" class="title ">
                              Minuti</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" id="minuti" name="minuti" #minuti="ngModel"
                                   [(ngModel)]="datiStatistica.schedulazione.minuti"
                                   class="pt-0" autocomplete="off" aria-describedby="minutiHelpDescription"
                                   [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
                                   (ngModelChange)="onChangeModel(datiForm, minuti)">
                          </div>
                        </div>
                        <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
                          <div class="col">
                            <p *ngIf="!isCampoInvalido(minuti)">Inserisci minuti</p>
                            <p *ngIf="isCampoInvalido(minuti)" class="text-invalid">{{getMessaggioErrore(minuti)}}</p>
                          </div>
                        </div>
                      </div>
                      <!--      fine Minuti -->
                      <!--    inizio Secondi -->
                      <div class="col-md-4 pb-2">
                        <div class="row">
                          <div class="col">
                            <label for="secondi" class="title ">
                              Secondi</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" id="secondi" name="secondi" #secondi="ngModel"
                                   [(ngModel)]="datiStatistica.schedulazione.secondi"
                                   class="pt-0" autocomplete="off" aria-describedby="secondiHelpDescription"
                                   [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
                                   (ngModelChange)="onChangeModel(datiForm, secondi)">
                          </div>
                        </div>
                        <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
                          <div class="col">
                            <p *ngIf="!isCampoInvalido(secondi)">Inserisci secondi</p>
                            <p *ngIf="isCampoInvalido(secondi)" class="text-invalid">{{getMessaggioErrore(secondi)}}</p>
                          </div>
                        </div>
                      </div>
                      <!--      fine Secondi -->
                    </div>
                    <!--                fine Ora, Minuti, Secondi -->
                    <!--                inizio Giorno, Mese, Anno -->
                    <div class="row mt-2">
                      <!--    inizio Giorno -->
                      <div class="col-md-4 pb-2">
                        <div class="row">
                          <div class="col">
                            <label for="giorno" class="title ">
                              Giorno</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" id="giorno" name="giorno" #giorno="ngModel"
                                   [(ngModel)]="datiStatistica.schedulazione.giorno"
                                   class="pt-0" autocomplete="off" aria-describedby="giornoHelpDescription"
                                   [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
                                   (ngModelChange)="onChangeModel(datiForm, giorno)">
                          </div>
                        </div>
                        <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
                          <div class="col">
                            <p *ngIf="!isCampoInvalido(giorno)">Inserisci giorno</p>
                            <p *ngIf="isCampoInvalido(giorno)" class="text-invalid">{{getMessaggioErrore(giorno)}}</p>
                          </div>
                        </div>
                      </div>
                      <!--      fine Giorno -->
                      <!--    inizio Mese -->
                      <div class="col-md-4 pb-2">
                        <div class="row">
                          <div class="col">
                            <label for="mese" class="title ">
                              Mese</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" id="mese" name="mese" #mese="ngModel"
                                   [(ngModel)]="datiStatistica.schedulazione.mese"
                                   class="pt-0" autocomplete="off" aria-describedby="meseHelpDescription"
                                   [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
                                   (ngModelChange)="onChangeModel(datiForm, mese)">
                          </div>
                        </div>
                        <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
                          <div class="col">
                            <p *ngIf="!isCampoInvalido(mese)">Inserisci mese</p>
                            <p *ngIf="isCampoInvalido(mese)" class="text-invalid">{{getMessaggioErrore(mese)}}</p>
                          </div>
                        </div>
                      </div>
                      <!--      fine Mese -->
                      <!--    inizio Anno -->
                      <div class="col-md-4 pb-2">
                        <div class="row">
                          <div class="col">
                            <label for="anno" class="title ">
                              Anno</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" id="anno" name="anno" #anno="ngModel"
                                   [(ngModel)]="datiStatistica.schedulazione.anno"
                                   class="pt-0" autocomplete="off" aria-describedby="annoHelpDescription"
                                   [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
                                   (ngModelChange)="onChangeModel(datiForm, anno)">
                          </div>
                        </div>
                        <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
                          <div class="col">
                            <p *ngIf="!isCampoInvalido(anno)">Inserisci anno</p>
                            <p *ngIf="isCampoInvalido(anno)" class="text-invalid">{{getMessaggioErrore(anno)}}</p>
                          </div>
                        </div>
                      </div>
                      <!--      fine Anno -->
                    </div>
                    <!--                fine Giorno, Mese, Anno -->
                    <!--                inizio Giorno settimana -->
                    <div class="row mt-2">
                      <!--    inizio Giorno settimana -->
                      <div class="col-md-6 pb-2">
                        <div class="row">
                          <div class="col">
                            <label for="giornoSettimana" class="title ">
                              Giorno della settimana</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" id="giornoSettimana" name="giornoSettimana" #giornoSettimana="ngModel"
                                   [(ngModel)]="datiStatistica.schedulazione.giornoSettimana"
                                   class="pt-0" autocomplete="off" aria-describedby="giornoSettimanaHelpDescription"
                                   [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
                                   (ngModelChange)="onChangeModel(datiForm, giornoSettimana)">
                          </div>
                        </div>
                        <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
                          <div class="col">
                            <p *ngIf="!isCampoInvalido(giornoSettimana)">Inserisci giorno della settimana</p>
                            <p *ngIf="isCampoInvalido(giornoSettimana)"
                               class="text-invalid">{{getMessaggioErrore(giornoSettimana)}}</p>
                          </div>
                        </div>
                      </div>
                      <!--      fine Giorno settimana-->
                    </div>
                    <!--                fine Giorno settimana -->
                  </div>
                </div>
              </div>
            </div>
            <!--        fine Schedulazione Principale -->
            <!--        inizio Schedulazione extra -->
            <div class="row pt-4">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <label for="schedulazioneExtra" class="title ">
                      Schedulazione extra</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="text" id="schedulazioneExtra" name="schedulazioneExtra" #schedulazioneExtra="ngModel"
                           [(ngModel)]="datiStatistica.schedulazioneExtra"
                           class="pt-0" autocomplete="off" aria-describedby="schedulazioneExtraHelpDescription"
                           [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
                           (ngModelChange)="onChangeModel(datiForm, schedulazioneExtra)">
                  </div>
                </div>
                <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
                  <div class="col">
                    <p *ngIf="!isCampoInvalido(schedulazioneExtra)">Inserisci schedulazione extra</p>
                    <p *ngIf="isCampoInvalido(schedulazioneExtra)"
                       class="text-invalid">{{getMessaggioErrore(schedulazioneExtra)}}</p>
                  </div>
                </div>
              </div>
            </div>
            <!--        fine Schedulazione extra -->
            <!--        inizio Festività -->
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <label for="festivita" class="title ">
                      Festività</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="text" id="festivita" name="festivita" #festivita="ngModel"
                           [(ngModel)]="datiStatistica.festivita"
                           class="pt-0" autocomplete="off" aria-describedby="festivitaHelpDescription"
                           [disabled]="funzione === FunzioneGestioneEnum.DETTAGLIO"
                           (ngModelChange)="onChangeModel(datiForm, festivita)">
                  </div>
                </div>
                <div class="row" *ngIf="funzione !== FunzioneGestioneEnum.DETTAGLIO">
                  <div class="col">
                    <p *ngIf="!isCampoInvalido(festivita)">Inserisci festività</p>
                    <p *ngIf="isCampoInvalido(festivita)"
                       class="text-invalid">{{getMessaggioErrore(festivita)}}</p>
                  </div>
                </div>
              </div>
            </div>
            <!--        fine Festività -->
          </div>
        </div>
      </div>
      <!--      fine Schedulazione -->
    </div>
    <!--    fine Decrizione, Logo -->
  </form>
</div>

