/*prime ng font component*/
:host ::ng-deep .p-component{
  font-family: "Titillium Web", Geneva,Tahoma,sans-serif;
  font-size: 12px;
}

/*prime ng link*/
:host ::ng-deep .p-link:focus {
  box-shadow: none;
}

.text-muted {
  color: #77777B;
}

.text-invalid {
  color: #FF0000;
}

:host ::ng-deep .p-inputswitch .p-inputswitch-slider {
  background: #FF0000;
}

:host ::ng-deep .p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
  background: #FF0000;
}

:host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #008758;
}

:host ::ng-deep .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
  background: #008758;
}

:host ::ng-deep .p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: none;
}
