<hr/>

<div class="row">
  <div class="col-1">
    <p class="title page-subtitle">Dati</p>
  </div>
  <div class="offset-10 col-1">
    <svg class="bg-light icon"
         data-toggle="collapse" data-target="#sezioneDati"
         aria-expanded="true" aria-controls="sezioneDati"
         (click)="aggiornaVisibilita()">
      <use [attr.xlink:href]="isVisibile ? 'assets/img/sprite.svg#it-collapse' : 'assets/img/sprite.svg#it-expand'" xlink:href=""></use>
    </svg>
  </div>
</div>

<span>Tutti campi contrassegnati con * sono obbligatori</span>

<form [formGroup]="form">
  <div id="sezioneDati" class="collapse show">
    <div class="page-section">
      <div class="row">
        <div *ngFor="let campo of listaCampi" [ngClass]="calcolaDimensioneCampo(campo)">
          <div [ngSwitch]="campo.tipoCampo" class="form-elem-container">

            <div *ngSwitchCase="tipoCampo.INPUT_TESTUALE" class="dynamic-form-elem" [ngClass]="{'required': isCampoObbligatorio(campo)}">
              <div class="row">
                <label [htmlFor]="getIdCampo(campo)" class="title form-elem-title" [ngClass]="{'disabled': isCampoDisabilitato(campo) || isFaseVerificaPagamento}">{{getTitoloCampo(campo)}}</label>
              </div>
              <div class="row">
                <input
                  [id]="getIdCampo(campo)"
                  [formControl]="form.controls[getNomeCampoForm(campo)]"
                  [(ngModel)]="model[getNomeCampoForm(campo)]"
                  type="text"
                  [maxLength]="getLunghezzaCampo(campo)"
                  (ngModelChange)="formattaInput(campo)"
                  autocomplete="off"
                  [attr.disabled]="isCampoDisabilitato(campo)"
                />
              </div>
              <div class="row">
                <p [ngClass]="{'placeholder': !isCampoInvalido(campo), 'form-elem-error': isCampoInvalido(campo)}">{{getDescrizioneCampo(campo)}}</p>
              </div>
            </div>

            <div *ngSwitchCase="tipoCampo.INPUT_NUMERICO" class="dynamic-form-elem" [ngClass]="{'required': isCampoObbligatorio(campo)}">
              <div class="row">
                <label [htmlFor]="getIdCampo(campo)" class="title form-elem-title" [ngClass]="{'disabled': isCampoDisabilitato(campo) || isFaseVerificaPagamento}">{{getTitoloCampo(campo)}}</label>
              </div>
              <div class="row">
                <input
                  [id]="getIdCampo(campo)"
                  [formControl]="form.controls[getNomeCampoForm(campo)]"
                  [(ngModel)]="model[getNomeCampoForm(campo)]"
                  [maxLength]="getLunghezzaCampo(campo)"
                  type="number"
                  integerNumber
                  [min]="minInputNumerico"
                  autocomplete="off"
                  [attr.disabled]="isCampoDisabilitato(campo)"
                />
              </div>
              <div class="row">
                <p [ngClass]="{'placeholder': !isCampoInvalido(campo), 'form-elem-error': isCampoInvalido(campo)}">{{getDescrizioneCampo(campo)}}</p>
              </div>
            </div>

            <div *ngSwitchCase="tipoCampo.INPUT_PREZZO" class="dynamic-form-elem" [ngClass]="{'required': isCampoObbligatorio(campo)}">
              <div class="row">
                <label [htmlFor]="getIdCampo(campo)" class="title form-elem-title" [ngClass]="{'disabled': isCampoDisabilitato(campo) || isFaseVerificaPagamento}">{{getTitoloCampo(campo)}}</label>
              </div>
              <div class="row">
                <input
                  [id]="getIdCampo(campo)"
                  class="price-input"
                  [formControl]="form.controls[getNomeCampoForm(campo)]"
                  [(ngModel)]="model[getNomeCampoForm(campo)]"
                  [maxLength]="getLunghezzaCampo(campo)"
                  type="tel"
                  currencyMask
                  [options]="{allowNegative: false, prefix: '', precision: 2, decimal: '.', thousands: '', nullable: true, inputMode: 'FINANCIAL'}"
                  autocomplete="off"
                  [attr.disabled]="isCampoDisabilitato(campo)"
                />
              </div>
              <div class="row">
                <p [ngClass]="{'placeholder': !isCampoInvalido(campo), 'form-elem-error': isCampoInvalido(campo)}">{{getDescrizioneCampo(campo)}}</p>
              </div>
            </div>

            <div *ngSwitchCase="tipoCampo.DATEDDMMYY" class="dynamic-form-elem" [ngClass]="{'required': isCampoObbligatorio(campo)}">
              <div class="row">
                <label [htmlFor]="getIdCampo(campo)" class="title form-elem-title" [ngClass]="{'disabled': isCampoDisabilitato(campo) || isFaseVerificaPagamento}">{{getTitoloCampo(campo)}}</label>
              </div>
              <div class="row">
                <dp-date-picker
                  mode="day"
                  theme="dp-material"
                  [formControl]="form.controls[getNomeCampoForm(campo)]"
                  [(ngModel)]="model[getNomeCampoForm(campo)]"
                  [id]="getIdCampo(campo)"
                  [config]="{
                    locale: 'it',
                    format: 'DD/MM/YYYY',
                    firstDayOfWeek: 'mo',
                    showGoToCurrent: false,
                    min: this.minDataDDMMYY,
                    disableKeypress: true,
                    returnedValueType: tipoData
                  }"
                  [attr.disabled]="isCampoDisabilitato(campo)"
                ></dp-date-picker>
              </div>
              <div class="row">
                <p [ngClass]="{'placeholder': !isCampoInvalido(campo), 'form-elem-error': isCampoInvalido(campo)}">{{getDescrizioneCampo(campo)}}</p>
              </div>
            </div>

            <div *ngSwitchCase="tipoCampo.DATEMMYY" class="dynamic-form-elem" [ngClass]="{'required': isCampoObbligatorio(campo)}">
              <div class="row">
                <label [htmlFor]="getIdCampo(campo)" class="title form-elem-title" [ngClass]="{'disabled': isCampoDisabilitato(campo) || isFaseVerificaPagamento}">{{getTitoloCampo(campo)}}</label>
              </div>
              <div class="row">
                <dp-date-picker
                  mode="month"
                  theme="dp-material"
                  [formControl]="form.controls[getNomeCampoForm(campo)]"
                  [(ngModel)]="model[getNomeCampoForm(campo)]"
                  [id]="getIdCampo(campo)"
                  [config]="{
                    locale: 'it',
                    format: 'MM/YYYY',
                    showGoToCurrent: false,
                    min: this.minDataMMYY,
                    disableKeypress: true,
                    returnedValueType: tipoData
                  }"
                  [attr.disabled]="isCampoDisabilitato(campo)"
                ></dp-date-picker>
              </div>
              <div class="row">
                <p [ngClass]="{'placeholder': !isCampoInvalido(campo), 'form-elem-error': isCampoInvalido(campo)}">{{getDescrizioneCampo(campo)}}</p>
              </div>
            </div>

            <div *ngSwitchCase="tipoCampo.DATEYY" class="dynamic-form-elem" [ngClass]="{'required': isCampoObbligatorio(campo)}">
              <div class="row">
                <label [htmlFor]="getIdCampo(campo)" class="title form-elem-title" [ngClass]="{'disabled': isCampoDisabilitato(campo) || isFaseVerificaPagamento}">{{getTitoloCampo(campo)}}</label>
              </div>
              <div class="row">
                <input
                  [id]="getIdCampo(campo)"
                  [formControl]="form.controls[getNomeCampoForm(campo)]"
                  [(ngModel)]="model[getNomeCampoForm(campo)]"
                  type="number"
                  integerNumber
                  [min]="this.minDataYY"
                  autocomplete="off"
                  [attr.disabled]="isCampoDisabilitato(campo)"
                />
              </div>
              <div class="row">
                <p [ngClass]="{'placeholder': !isCampoInvalido(campo), 'form-elem-error': isCampoInvalido(campo)}">{{getDescrizioneCampo(campo)}}</p>
              </div>
            </div>

            <div *ngSwitchCase="tipoCampo.SELECT" class="dynamic-form-elem" [ngClass]="{'required': isCampoObbligatorio(campo)}">
              <div class="row">
                <label [htmlFor]="getIdCampo(campo)" class="title form-elem-title" [ngClass]="{'disabled': isCampoDisabilitato(campo) || isFaseVerificaPagamento}">{{getTitoloCampo(campo)}}</label>
              </div>
              <div class="row">
                <select
                  [id]="getIdCampo(campo)"
                  [formControl]="form.controls[getNomeCampoForm(campo)]"
                  [(ngModel)]="model[getNomeCampoForm(campo)]"
                  (change)="aggiornaSelectDipendenti(campo)"
                  [attr.disabled]="isCampoDisabilitato(campo)"
                >
                  <option [ngValue]="null"></option>
                  <option *ngFor="let item of campo['opzioni']" [ngValue]="item.value">{{item.label}}</option>
                </select>
              </div>
              <div class="row">
                <p [ngClass]="{'placeholder': !isCampoInvalido(campo), 'form-elem-error': isCampoInvalido(campo)}">{{getDescrizioneCampo(campo)}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!--Input importo-->
  <div class="page-section" *ngIf="livelliIntegrazione.LV2 === livelloIntegrazioneId || (livelliIntegrazione.LV2_BACK_OFFICE === livelloIntegrazioneId && isFaseVerificaPagamento)">
    <div class="row">
      <div class="offset-md-8 col-md-4">
        <div class="form-elem-container">
          <div class="row">
            <label for="importoTotale" class="title form-elem-title" [ngClass]="{'disabled': isFaseVerificaPagamento}">
              Importo totale
            </label>
          </div>
          <div class="row">
            <input
              class="price-input"
              id="importoTotale"
              [formControl]="importoFormControl"
              [(ngModel)]="model.importo"
              type="tel"
              currencyMask
              [options]="{allowNegative: false, prefix: '', precision: 2, decimal: '.', thousands: '', nullable: true, inputMode: 'FINANCIAL'}"
              autocomplete="off"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <!--Bottoni-->
  <div class="row">
    <!-- Bottone sx -->
    <div *ngIf="livelliIntegrazione.LV2 === livelloIntegrazioneId || (livelliIntegrazione.LV2_BACK_OFFICE === livelloIntegrazioneId && !isFaseVerificaPagamento)" class="col-2">
      <button id="bottonePulisci" class="btn btn-secondary" (click)="pulisciCampiForm()">Pulisci</button>
    </div>
    <div *ngIf="livelliIntegrazione.LV2_BACK_OFFICE === livelloIntegrazioneId && isFaseVerificaPagamento" class="col-2">
      <button id="bottoneIndietro" class="btn btn-secondary" (click)="tornaAdInserimentoDati()">Indietro</button>
    </div>

    <!-- Bottoni dx -->
    <div *ngIf="livelliIntegrazione.LV2 === livelloIntegrazioneId || (livelliIntegrazione.LV2_BACK_OFFICE === livelloIntegrazioneId && isFaseVerificaPagamento)"
         class="col-10 text-right button-space">
          <span it-tooltip="{{tooltipBottoneSalvaPerDopo}}" placement="top">
            <button id="bottoneSalvaPerDopo" class="btn btn-secondary" [disabled]="isUtenteAnonimo">Salva per dopo</button>
          </span>
      <button (click)="aggiungiAlCarrello()" id="bottoneAggiungiAlCarrello" class="btn btn-secondary"
              [disabled]="livelliIntegrazione.LV2 === livelloIntegrazioneId && form.invalid">Aggiungi al carrello</button>
      <button id="bottonePagaOra" class="btn">Paga ora</button>
    </div>
    <div *ngIf="livelliIntegrazione.LV2_BACK_OFFICE === livelloIntegrazioneId && !isFaseVerificaPagamento"
         class="col-10 text-right">
      <button id="bottoneProcedi" class="btn" (click)="procediAVerificaPagamento()" [disabled]="form.invalid">Procedi</button>
    </div>
  </div>
</form>
