<hr/>

<div class="row">
  <div class="col-1">
    <p class="title page-subtitle">Dati</p>
  </div>
  <div class="offset-10 col-1">
    <svg class="bg-light icon"
         data-toggle="collapse" data-target="#sezioneDati"
         aria-expanded="true" aria-controls="sezioneDati"
         (click)="aggiornaVisibilita()">
      <use [attr.xlink:href]="isVisibile ? 'assets/img/sprite.svg#it-collapse' : 'assets/img/sprite.svg#it-expand'" xlink:href=""></use>
    </svg>
  </div>
</div>

<form [formGroup]="form">
  <div id="sezioneDati" class="collapse show">
    <div class="page-section">
      <div class="row">
        <div *ngFor="let campo of listaCampi" [ngClass]="calcolaDimensioneCampo(campo)">
          <div [ngSwitch]="campo.tipoCampo" class="form-elem-container">

            <div *ngSwitchCase="tipoCampo.INPUT_TESTUALE" class="dynamic-form-elem">
              <div class="row">
                <label [htmlFor]="campo.id" class="title">{{campo.titolo}}</label>
              </div>
              <div class="row">
                <input
                  [id]="campo.id"
                  [formControlName]="getNomeCampoForm(campo)"
                  type="text"
                  [maxLength]="campo.lunghezza"
                  [disabled]="campo.disabilitato"
                />
              </div>
              <div class="row">
                <p class="placeholder">{{campo.informazioni}}</p>
              </div>
            </div>

            <div *ngSwitchCase="tipoCampo.INPUT_NUMERICO" class="dynamic-form-elem">
              <div class="row">
                <label [htmlFor]="campo.id" class="title">{{campo.titolo}}</label>
              </div>
              <div class="row">
                <input
                  [id]="campo.id"
                  [formControlName]="getNomeCampoForm(campo)"
                  type="number"
                  [maxLength]="campo.lunghezza"
                  [disabled]="campo.disabilitato"
                />
              </div>
              <div class="row">
                <p class="placeholder">{{campo.informazioni}}</p>
              </div>
            </div>

            <div *ngSwitchCase="tipoCampo.INPUT_PREZZO" class="dynamic-form-elem">
              <div class="row">
                <label [htmlFor]="campo.id" class="title">{{campo.titolo}}</label>
              </div>
              <div class="row">
                <input
                  [id]="campo.id"
                  class="price-input"
                  [formControlName]="getNomeCampoForm(campo)"
                  type="number"
                  [maxLength]="campo.lunghezza"
                  [disabled]="campo.disabilitato"
                />
              </div>
              <div class="row">
                <p class="placeholder">{{campo.informazioni}}</p>
              </div>
            </div>

            <div *ngSwitchCase="tipoCampo.DATEDDMMYY" class="dynamic-form-elem">
              <div class="row">
                <label [htmlFor]="campo.id" class="title">{{campo.titolo}}</label>
              </div>
              <div class="row">
                <dp-date-picker
                  mode="day"
                  theme="dp-material"
                  [formControlName]="getNomeCampoForm(campo)"
                  [id]="campo.id"
                  [disabled]="campo.disabilitato"
                  [config]="{
                    locale: 'it',
                    format: 'DD/MM/YYYY',
                    firstDayOfWeek: 'mo',
                    showGoToCurrent: false
                  }"
                ></dp-date-picker>
              </div>
              <div class="row">
                <p class="placeholder">{{campo.informazioni}}</p>
              </div>
            </div>

            <div *ngSwitchCase="tipoCampo.DATEMMYY" class="dynamic-form-elem">
              <div class="row">
                <label [htmlFor]="campo.id" class="title">{{campo.titolo}}</label>
              </div>
              <div class="row">
                <dp-date-picker
                  mode="month"
                  theme="dp-material"
                  [formControlName]="getNomeCampoForm(campo)"
                  [id]="campo.id"
                  [disabled]="campo.disabilitato"
                  [config]="{
                    locale: 'it',
                    format: 'MM/YYYY',
                    firstDayOfWeek: 'mo',
                    showGoToCurrent: false
                  }"
                ></dp-date-picker>
              </div>
              <div class="row">
                <p class="placeholder">{{campo.informazioni}}</p>
              </div>
            </div>

            <div *ngSwitchCase="tipoCampo.DATEYY" class="dynamic-form-elem">
              <div class="row">
                <label [htmlFor]="campo.id" class="title">{{campo.titolo}}</label>
              </div>
              <div class="row">
                <input
                  [id]="campo.id"
                  [formControlName]="getNomeCampoForm(campo)"
                  type="number"
                  min="1900"
                  [disabled]="campo.disabilitato"
                />
              </div>
              <div class="row">
                <p class="placeholder">{{campo.informazioni}}</p>
              </div>
            </div>

            <div *ngSwitchCase="tipoCampo.SELECT" class="dynamic-form-elem">
              <div class="row">
                <label [htmlFor]="campo.id" class="title">{{campo.titolo}}</label>
              </div>
              <div class="row">
                <select
                  [id]="campo.id"
                  [formControlName]="getNomeCampoForm(campo)"
                  [disabled]="campo.disabilitato || !campo['opzioni']?.length"
                  (change)="aggiornaSelectDipendenti(campo)"
                >
                  <option [value]="null"></option>
                  <option *ngFor="let item of campo['opzioni']" [value]="item.value">{{item.label}}</option>
                </select>
              </div>
              <div class="row">
                <p class="placeholder">{{campo.informazioni}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!--Input importo-->
  <div class="page-section">
    <div class="row">
      <div class="offset-md-8 col-md-4">
        <div class="form-elem-container">
          <div class="row">
            <label for="importoTotale" class="title">
              Importo totale
            </label>
          </div>
          <div class="row">
            <input
              class="price-input"
              id="importoTotale"
              [(ngModel)]="importoTotale"
              type="number"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <!--Bottoni-->
  <div class="row">
    <!-- Bottone sx -->
    <div *ngIf="livelliIntegrazione.LV2 === livelloIntegrazioneId || (livelliIntegrazione.LV2_BACK_OFFICE === livelloIntegrazioneId && !isFaseVerificaPagamento)" class="col-2">
      <button id="bottonePulisci" class="btn btn-secondary" (click)="pulisciCampiForm()">Pulisci</button>
    </div>
    <div *ngIf="livelliIntegrazione.LV2_BACK_OFFICE === livelloIntegrazioneId && isFaseVerificaPagamento" class="col-2">
      <button id="bottoneIndietro" class="btn btn-secondary">Indietro</button>
    </div>

    <!-- Bottoni dx -->
    <div *ngIf="livelliIntegrazione.LV2 === livelloIntegrazioneId || (livelliIntegrazione.LV2_BACK_OFFICE === livelloIntegrazioneId && isFaseVerificaPagamento)"
         class="col-10 text-right button-space">
          <span it-tooltip="{{tooltipBottoneSalvaPerDopo}}" placement="top">
            <button id="bottoneSalvaPerDopo" class="btn btn-secondary" [disabled]="isUtenteAnonimo">Salva per dopo</button>
          </span>
      <button id="bottoneAggiungiAlCarrello" class="btn btn-secondary">Aggiungi al carrello</button>
      <button id="bottonePagaOra" class="btn">Paga ora</button>
    </div>
    <div *ngIf="livelliIntegrazione.LV2_BACK_OFFICE === livelloIntegrazioneId && !isFaseVerificaPagamento"
         class="col-10 text-right">
      <button id="bottoneProcedi" class="btn" (click)="procediAVerificaPagamento()">Procedi</button>
    </div>
  </div>
</form>
