<div id="nuovoPagamento">
  <div *ngIf="!datiPagamento">
    <p>Home / Pagamento / <strong>Nuovo Pagamento</strong></p>
    <p class="title page-title">Nuovo Pagamento</p>
  </div>

  <div *ngIf="datiPagamento">
    <p>< I Miei Pagamenti</p>
    <p class="title page-title">Dettaglio Pagamento</p>
  </div>

  <app-compila-nuovo-pagamento [datiPagamento]="datiPagamento"></app-compila-nuovo-pagamento>

  <div *ngIf="servizioSelezionato">
    <app-dati-nuovo-pagamento [servizio]="servizioSelezionato" [datiPagamento]="datiPagamento"></app-dati-nuovo-pagamento>
  </div>
</div>

