<div id="nuovoPagamento">
  <div *ngIf="!dettaglioPagamento">
    <p>Home / Pagamento / <strong>Nuovo Pagamento</strong></p>
    <p class="title page-title">Nuovo Pagamento</p>
  </div>

  <div *ngIf="dettaglioPagamento">
    <p>< I Miei Pagamenti</p>
    <p class="title page-title">Dettaglio Pagamento</p>
  </div>

  <app-compila-nuovo-pagamento [dettaglioPagamento]="dettaglioPagamento"></app-compila-nuovo-pagamento>

  <div *ngIf="servizioSelezionato">
    <app-dati-nuovo-pagamento [servizio]="servizioSelezionato" [dettaglioPagamento]="dettaglioPagamento"></app-dati-nuovo-pagamento>
  </div>
</div>

