<p-toolbar>
<!--  left -->
  <div class="p-toolbar-group-left">
  </div>
<!-- right -->
  <div class="p-toolbar-group-right">
    <!--    insert -->
    <div id="insert" (click)="onClickTool($event)" class="pointer">
      <svg class="bg-light icon icon-sm filled">
        <use xlink:href="assets/img/sprite.svg#it-plus"></use>
      </svg>
    </div>
    <!--    update -->
    <div id="update" (click)="onClickTool($event)" class="pointer">
      <svg class="bg-light icon icon-sm">
        <use xlink:href="assets/img/sprite.svg#it-pencil"></use>
      </svg>
    </div>
    <!--    delete -->
    <div id="delete" (click)="onClickTool($event)" class="pointer">
      <svg class="bg-light icon icon-sm">
        <use xlink:href="assets/img/sprite.svg#it-ban"></use>
      </svg>
    </div>
    <!--    export pdf -->
    <div id="export_pdf" (click)="onClickTool($event)" class="pointer">
      <svg class="bg-light icon icon-sm">
        <use xlink:href="assets/img/sprite.svg#it-file"></use>
      </svg>
    </div>
    <!--    export xls -->
    <div id="export_xls" (click)="onClickTool($event)" class="pointer">
      <svg class="bg-light icon icon-sm">
        <use xlink:href="assets/img/sprite.svg#it-file"></use>
      </svg>
    </div>
  </div>
</p-toolbar>
