.pointer {cursor: pointer;}

// tool bar
:host ::ng-deep .p-toolbar{
  background: none;
  padding: 0;
  border: none;
}

svg{
  fill: #004987;
}

svg:hover{
  fill: #EE7622;
}

.img-not-active,
.img-not-active:hover {
  fill: #77777B;
  cursor: not-allowed;
}

.icon-text{
  font-weight: 900;
  font-size: medium;
  color: #004987;
  margin-left: 2px;
  margin-right: 2px;
}
.icon-text:hover{
  color: #EE7622;
}

.icon-text-not-active,
.icon-text-not-active:hover {
  color: #77777B;
  cursor: not-allowed;
}
