<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo" *ngIf="!menuService.isUtenteAnonimo">
    <a routerLink="/" class="navbar-toggle simple-text logo-mini">
      <div class="logo-image-small">
        <img alt="" src="../assets/img/logo-small.png">
      </div>
    </a>
    <a routerLink="/" class="navbar-toggle simple-text logo-normal">
      {{ nomeUtente }}
    </a>
  </div>
  {{selectedElement}}
  <div *ngIf="!waiting"
       [ngClass]="{'sidebar-wrapper': true, 'sidebar-overflow': isUtenteAnonimo, 'pb-0': !isUtenteAnonimo}">
    <ul class="link-list none-parent">
      <ng-container *ngFor="let item of menu; let i = index">
        <li [ngClass]="{'active': item.nome == selectedElement}" (click)="getRouterLink(item)">
          <a class="list-item medium" [ngClass]="{'active': item.nome == selectedElement}"
             data-toggle="collapse" [attr.aria-expanded]="false">
            {{item.nome}}
            <ng-container *ngIf="!item.route">
             <span>
              <svg *ngIf="!item['isExpanded']" class="icon icon-sm icon-primary right" aria-hidden="true">
                <use xlink:href="assets/img/sprite.svg#it-expand"></use>
              </svg>
              <svg *ngIf="item['isExpanded']" class="icon icon-sm icon-primary right" aria-hidden="true">
                <use xlink:href="assets/img/sprite.svg#it-collapse"></use>
              </svg>
              </span>
            </ng-container>
          </a>
          <ul [id]="'coll-' + i" class="link-sublist collapse none" [ngClass]="{'show': item.nome == selectedElement}"
              *ngIf="item.sotto_menu">
            <ng-container *ngFor="let sub of item.sotto_menu; let j = index">
              <li>
                <a (click)="getRouterLink(sub)" class="list-item medium"
                   [ngClass]="{'active': sub.nome == selectedElement}"
                   data-toggle="collapse" [attr.aria-expanded]="false">
                  {{sub.nome}}
                  <ng-container *ngIf="!sub.route">
                     <span>
                        <svg *ngIf="!sub['isExpanded']" class="icon icon-sm icon-primary right" aria-hidden="true">
                          <use xlink:href="assets/img/sprite.svg#it-expand"></use>
                        </svg>
                        <svg *ngIf="sub['isExpanded']" class="icon icon-sm icon-primary right" aria-hidden="true">
                          <use xlink:href="assets/img/sprite.svg#it-collapse"></use>
                        </svg>
                      </span>
                  </ng-container>
                </a>
              </li>
              <ul [id]="'collSub-' + j" class="link-sublist collapse" *ngIf="sub.funzioni">
                <ng-container *ngFor="let subItem of sub.funzioni">
                  <li>
                    <a (click)="getRouterLink(subItem)" class="list-item medium active"
                       data-toggle="collapse" aria-expanded="true"><span>{{subItem.nome}}</span></a>
                  </li>
                </ng-container>
              </ul>
            </ng-container>
          </ul>
          <ul class="link-sublist collapse none" [ngClass]="{'show': item.nome == selectedElement}" *ngIf="item.funzioni">
            <ng-container *ngFor="let sub of item.funzioni">
              <li (click)="getRouterLink(sub)">
                <a class="list-item medium" [ngClass]="{'active': sub.nome == selectedElement}"
                   data-toggle="collapse" [attr.aria-expanded]="false">
                  {{sub.nome}}
                  <ng-container *ngIf="!sub.route">
                     <span>
                      <svg *ngIf="!sub['isExpanded']" class="icon icon-sm icon-primary right" aria-hidden="true">
                        <use xlink:href="assets/img/sprite.svg#it-expand"></use>
                      </svg>
                      <svg *ngIf="sub['isExpanded']" class="icon icon-sm icon-primary right" aria-hidden="true">
                        <use xlink:href="assets/img/sprite.svg#it-collapse"></use>
                      </svg>
                      </span>
                  </ng-container>
                </a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="logo-rer">
    <small>Versione: {{ versionApplicativo }}</small>
  </div>
</div>
