a.is-active{
 color: #78C2AD !important;
}


.nav-100 {
 width: 100%;
}

a.logout{
 cursor: pointer;
}

div.logo{
 a.logo-normal{
     white-space: pre-wrap;
     white-space: -moz-pre-wrap;
     white-space: -pre-wrap;
     white-space: -o-pre-wrap;
     word-wrap: break-word;
 }
}

div.logo-rer{
 position: relative;
 z-index: 99;
 left: 28px;
 max-height: 23%;
}

//div.sidebar-no-overflow{
// overflow: hidden;
//  ul{
//     li {
//         max-height: 20px;
//     }
//  }
//}

li > a {
  margin: 0 0 0 15px !important;
  display: unset !important;
  line-height: 40px !important;
}

li > a > span {
  font-size: 18px;
}

@media screen and (max-width: 992px) {
  li > a > span {
    font-size: 16px
  }
}

.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
  max-height: 77%;
}
