<div *ngIf="datiPagamento">
  <div class="background"></div>
  <div id="component-modal-wrapper" *ngIf="datiPagamento">
    <div id="component-modal-background">
      <app-nuovo-pagamento [filtroPagamento]="false" [datiPagamento]="datiPagamento"></app-nuovo-pagamento>
    </div>
  </div>
</div>
<div *ngIf="caricamento">
  <div class="background"></div>
  <div id="spinner-wrapper">
    <div class="progress-spinner progress-spinner-active" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
