<div class="ml-5">
  <p>Home / Amministra Portale / <strong>Gestisci Utenti</strong></p>
  <h3 class="mb-2 page-title"><strong>Gestisci Utenti</strong>
    <span it-tooltip="{{tooltipGestisciUtentiTitle}}">
      <svg class="bg-light icon icon-lg icon-padded">
        <use xlink:href="assets/img/sprite.svg#it-help-circle"></use>
      </svg>
    </span>
  </h3>

  <!-- Sottosezione Filtri -->
  <app-filtro-gestione-utenti [listaUtente]="listaUtente"
                              (listaUtentiFiltrati)="onChangeListaUtenti($event)">
  </app-filtro-gestione-utenti>

  <!-- Sottosezione Lista Utenti -->
  <div class="row subsection-title">
    <div class="col-xs-5 pt-4">
      <p class="title page-subtitle">Lista Utenti</p>
    </div>
    <div class="col-xs-4 mb-2">
      <svg id="img-arrow" class="bg-light icon"
           data-toggle="collapse" data-target="#contenutoSezioneListaUtenti"
           aria-expanded="true" aria-controls="contenutoSezioneListaUtenti"
           (click)="setArrowType()">
        <use [attr.xlink:href]="arrowType" xlink:href=""></use>
      </svg>
    </div>
  </div>
  <div id="contenutoSezioneListaUtenti" class="collapse show">
    <div class="row align-items-baseline align-content-lg-around">
      <div class="col-lg pb-2 pb-sm-2 pb-lg-0">
        <app-tab-view [tabs]="tabs" (onChange)="onChangeTab($event)"></app-tab-view>
      </div>
      <div class="col-auto">
        <app-toolbar (onClick)="eseguiAzioni($event)"></app-toolbar>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-table [dataKey]="tempTableData.dataKey"
                   [cols]="tempTableData.cols"
                   [rows]="tempTableData.rows"
                   [tipoTabella]="tempTableData.tipoTabella">
        </app-table>
      </div>
    </div>
  </div>
</div>


