<div class="container">
  <it-breadcrumb [dark]="isDark" [separator]="separator">
    <it-breadcrumb-item *ngFor="let item of items"
                        [link]="item.link" [icon]="item.icon">
      {{item.label}}
    </it-breadcrumb-item>
  </it-breadcrumb>
  <h3 class="pl-3 mb-2 header"><b>Carrello</b>
    <svg style="background-color: #F6F6F6!important;" class="bg-light icon icon-lg icon-padded">
      <use xlink:href="assets/img/sprite.svg#it-help-circle"></use>
    </svg>
  </h3>
  <it-collapse-group [accordion]="false">
    <it-collapse-item header="Lista pagamenti">
      <div class="table-responsive font-msg">
        <table class="mb-0 table table-hover">
          <thead>
          <tr>
            <th></th>
            <th scope="col">Emissione</th>
            <th scope="col">N.ro Documento</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Ente</th>
            <th scope="col">Scadenza</th>
            <th scope="col">Importo</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let pagamento of listaPagamenti">
            <tr>
              <th>
                <svg class="bg-light icon icon-xs">
                  <use xlink:href="assets/img/sprite.svg#it-delete"></use>
                </svg>
              </th>
              <td>{{pagamento.emissione | date: 'MM/yyyy'}}</td>
              <td>{{pagamento.numDocumento}}</td>
              <td>{{pagamento.descrizione}}</td>
              <td>{{pagamento.ente}}</td>
              <td>{{pagamento.scadenza | date: 'dd/MM/yyyy'}}</td>
              <td>{{pagamento.importo|currency:"EUR":"€ "}}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </it-collapse-item>
    <it-collapse-item header="Modalità pagamento" [it-collapse]="true">
      <div class="row">
        <div class="col-xl-1 col-xs-12">
          <img width="100px" src="assets/img/pagopa.png">
          <it-radio-button name="standard" [value]="'checked'" [checked]="true" label="pagoPA"></it-radio-button>
        </div>
        <div class="col-xl-7 col-xs-12 font-msg">
          <p class="mb-0">
            PagoPA è il sistema nazionale Italiano, previsto dalle normative vigenti (CAD. Codice dell'Amministrazione
            Digitale)
          </p>
          <p class="mb-0">
            per effettuare i pagamenti elettronici verso la Pubblica Amministrazione. Per procedere con il pagamento
            occorre
          </p>
          <p class="mb-0">
            selezionare il bottone Avanti in fondo alla pagina. Tenendo presente che
          </p>
          <ul class="mb-0">
            <li>verrà chiesta la registrazione a pagoPA; tale registrazione è facoltativa e non necessaria a terminare
              il pagamento
            </li>
            <li>al termine del pagamento è necessario cliccare il bottone "Chiudi" per ritornare al servizio;</li>
            <li>il sistema propone tre modalità di pagamento (carta di credito, conto corrente e altro)</li>
          </ul>
        </div>
        <div class="col-xl-2 col-xs-12">
          <div class="video">
            <video height="180px" controls (click)="toggleVideo()" #videoPlayer>
              <source src="https://multipler.lepida.it/lepida/video/lepida_8517.mp4" type="video/mp4"/>
            </video>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-1 col-xs-12"></div>
        <div class="col-xl-10 col-xs-12 font-msg">
          Si sottolinea che scegliendo il pagamento con carte di Intesa Sanpaolo, seguendo la procedura di seguito
          riportata, è possibile usufruire di costi di commissione agevolati, ottenuti da Lepida S.c.p.A.
          (0,50 € per i pagamenti nella fascia 0,01 € - 50,00 €; 0,95 € per i pagamenti nella fascia 50,01 € - 150,00 €;
          1,25 € per i pagamenti nella fascia 150,01 € - 500,00 € e 2,00 € per importi superiori a 500 €). Per usufruire
          delle commissioni agevolate utilizzando la carta di credito/debito, occorre scegliere "Conto Corrente" e
          ricercare
          nella lista "Intesa Sanpaolo Emilia Romagna: pagamenti con carte" (digitando nel campo di ricerca "Emilia
          Romagna").
          Per istruzioni maggiormente dettagliate, è disponibile il video sulla destra.
        </div>
      </div>
    </it-collapse-item>
    <it-collapse-item header="Email per la notifica" [it-collapse]="true">
      <div class="row">
        <div class="col-xl-4 col-xs-12">
          <form #myForm="ngForm">
            <it-input name="emailInput" required pattern="[ab]+" [label]="'E-mail'"
                      [type]="'email'" [icon]="'it-email'"
                      [(ngModel)]="email"
                      [note]="'Inserisci l\'indirizzo email'">
              <p id="tdv-required" class="error"
                 *ngIf="myForm.controls.emailInput?.errors?.required">Il campo è obbligatorio</p>
              <p id="tdv-pattern" class="error"
                 *ngIf="myForm.controls.emailInput?.errors?.pattern">non corrisponde al pattern [ab]+</p>
            </it-input>
          </form>
        </div>
      </div>
    </it-collapse-item>
  </it-collapse-group>
  <div class="row pl-4 align-items-center h-100">
    <div class="col-xl-9 col-xs-12 font-msg align-middle">Disposizioni di pagamento: {{listaPagamenti?.length}}</div>
    <div class="col-xl-2 col-xs-12 font-msg align-middle">Totale da pagare: {{totale|currency:"EUR":"€ "}}</div>
    <div class="col-xl-1 col-xs-12 font-msg align-middle">
      <button (click)="goToPresaInCaricoPagamento()" id="payButton" type="button" class="btn btn-outline-secondary">
        Paga
      </button>
    </div>
  </div>
</div>
