/* You can add global styles to this file, and also import other style files */
//@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  font-family: "Titillium Web", "Roboto Mono", "Lora" !important;
  color: #2c2c2c;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

button, input, optgroup, select, textarea {
  font-family: "Titillium Web", "Roboto Mono", "Lora";
}
