
@font-face {
  font-family: 'Titillium Web';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora-Regular.ttf');
}

body {
  font-family: "Titillium Web", sans-serif;
  color: #2c2c2c;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

.long-text {
  font-family: "Lora", serif
}

button, input, optgroup, select, textarea {
  font-family: "Titillium Web", sans-serif;
}

.title {
  color: #004987;
  font-size: 16px;
}

.page-title {
  color: #EC6C25;
  font-size: 27px;
}
