
@font-face {
  font-family: 'Titillium Web';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora-Regular.ttf');
}

body {
  font-family: "Titillium Web", sans-serif;
  color: #2c2c2c;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

.long-text {
  font-family: "Lora", serif
}

button, input, optgroup, select, textarea {
  font-family: "Titillium Web", sans-serif;
}

.title {
  color: #004987;
  font-size: 16px;
}

.page-title {
  color: #EC6C25;
  font-size: 27px;
}

.page-subtitle {
  color: #004987;
  font-size: 22px;
}

.tooltip .arrow {
  display: none;
}

.tooltip-inner {
  color: #FFFFFF;
  background-color: #77777B;
  border-radius: .25rem;
  text-align: center;
}

it-tooltip-window {
  background-color: transparent !important;
}

.hide {
  display: none;
}

select {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  padding-right: 20px;
}

.disabled {
  color: #77777B;
}

input {
  background-color: transparent;
  height: 20px !important;
}

.price-input {
  text-align: right;
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='gray' font-size='16'>€</text></svg>");
  background-repeat: no-repeat;
  background-position-x: 5px;
}
