<h1>Gestisci Campi di Tipologia servizio</h1>

<div class="row">
  <button class="btn" (click)="add()">Aggiungi campo</button>
</div>

<div *ngIf="!waiting" class="row" cdkDropListGroup>
  <div [ngClass]="calcolaDimensioneCampo(item)" cdkDropList *ngFor="let item of items"
       [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)">
    <div cdkDrag class="example-box col-12"
         (cdkDragMoved)="dragMoved($event);">
      <div class="row" style="width: 100%">
        <div class="col-6 text-right">{{item.titolo}}</div>
        <div *ngIf="item.obbligatorio" class="col-1"><span [class]="{'required':item.obbligatorio}"></span></div>
        <div *ngIf="item.chiave" class="col-1"><span [class]="{'key':item.chiave}"></span></div>
        <div class="col-4 text-right">
          <span class="close" (click)="removeItem(item)"></span>
        </div>
      </div>
    </div>
  </div>
</div>

