<p-table [columns]="cols" [value]="rows" styleClass="p-datatable-responsive-demo"
         dataKey="{{dataKey}}" [(selection)]="selection"
         (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
         [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [rowsPerPageOptions]="[10,25,50]">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3rem" *ngIf="tipoTabella == tipoTabellaEnum.CHECKBOX_SELECTION">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
        {{col.header}}
        <p-sortIcon field="{{col.field}}"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row let-columns="columns">
    <tr>
      <td *ngIf="tipoTabella == tipoTabellaEnum.CHECKBOX_SELECTION">
        <p-tableCheckbox [value]="row"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns">
        <span class="p-column-title">{{col.header}}</span>
        <!--  template ICONA  -->
        <div *ngIf="col.type == tipoColonnaEnum.ICONA">
          <svg class="bg-light icon icon-sm">
            <use [attr.xlink:href]="row[col.field]"></use>
          </svg>
        </div>
        <!--  template TESTO  -->
        <div *ngIf="col.type == tipoColonnaEnum.TESTO">
          {{row[col.field]}}
        </div>
        <!--  template LINK  -->
        <div *ngIf="col.type == tipoColonnaEnum.LINK">
          {{renderLink(row[col.field])[0]}}
          <a href="{{renderLink(row[col.field])[1]}}">
            <svg class="bg-light icon icon-sm">
              <use xlink:href="assets/img/sprite.svg#it-external-link"></use>
            </svg>
          </a>
        </div>
        <!--  template IMPORTO  -->
        <div *ngIf="col.type == tipoColonnaEnum.IMPORTO">
          {{row[col.field]|currency:"EUR":"€ "
          | replace:'.':'|' | replace:',':'.'
          | replace:'|':','}}
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
  </ng-template>
</p-table>
